<ng-container *ngTemplateOutlet="type===StatuePictoType.alarm? alarmStatus : (type===StatuePictoType.default?defaultStatus:signStatus)"></ng-container>


<ng-template #signStatus>
  <div [class]="'status-picto sign level-' + level + (forced?' forced':'') + (unactive?' unactive':'')">
    <div class="level">{{ forced?'!':'' }}</div>
  </div>
</ng-template>

<ng-template #alarmStatus>
  <div [class]="'status-picto status-level-' + level + (forced?' forced':'') + (unactive?' unactive':'')">
    <div class="label">{{ label }}</div>
    @if (level!=='0') {
      <div class="level">{{ level }}{{ forced?'!':'' }}</div>
    }
    @else {
      <div [class]="'level level-'+level"></div>
    }
  </div>
</ng-template>

<ng-template #defaultStatus>
  <div [class]="'status-picto status-level-' + level + (unactive?' unactive':'')">
    <div class="label">{{ label }}</div>
    <div [class]="'level level-'+level"></div>
  </div>
</ng-template>
