<div class="main-footer">
  <div class="item"><a routerLink="/contact">{{ wording['contact'] | firstLetterUppercase }}</a></div>
  <div class="item">{{ wording['copyright'] | firstLetterUppercase }}</div>
</div>
