:host {
  display: block;
  background: var(--background-color);
  border-radius: var(--box-border-radius);
  padding: calc(var(--padding-base) * .5) var(--padding-base) var(--padding-base) var(--padding-base);
  &:focus-visible {
    outline: none;
  }
  h2 {
    margin: 10px 0 0 0;
  }
  button{
    //width: 50%;
    display: flex;
    flex-direction: column;
    flex: 1;
    &:first-child {
      margin-right: calc(var(--base-gutter) * .5);
    }
    &:last-child {
      margin-left: calc(var(--base-gutter) * .5);
    }
    &:not(:first-child):not(:last-child) {
      margin-left: calc(var(--base-gutter) * .5);
      margin-right: calc(var(--base-gutter) * .5);
    }
  }
}
