<h2>{{ data.title }}</h2>
<p [innerHTML]="data.content"></p>
<div class="flex row">
  @for (action of data.actions; track action) {
  <button mat-stroked-button [color]="action.color==='warn'?'warn':'neutral'" class="column" (click)="dialogRef.close(action.action)">{{ action.label }}</button>
}
</div>
