<div class="page">

  <div #body [class]="'body with-logs offset-' + contentOffset">

    <!--<div matRipple [matRippleColor]="'var(&#45;&#45;main-color-ripple-color)'"
         class="box-item box-single-item"
         *ngFor="let device of devices;"
           [routerLink]="['./'+device.id]">
      <div class="title">{{ device.name }}</div>
      <div class="pictos">
        <status-picto [type]="isSignalisationDevice(device)? StatuePictoType.sign : StatuePictoType.alarm"
                      [label]="wording[isSignalisationDevice(device)? 'sign':'state']"
                      [level]="(device.alarm?device.alarm.level:'1')"></status-picto>
      </div>
    </div>-->

    @for (device of devices; track device) {
      <div class="box-item box-multi-items"
           [class.disabled]="device.status.id===0">

        <div class="content">

          <div class="title-extended">
            <div class="title">{{ device?.name | firstLetterUppercase }}</div>
            <div class="pictos">
              <!--<status-picto [type]="isSignalisationDevice(device)? StatuePictoType.sign : StatuePictoType.alarm"
                            [label]="wording[isSignalisationDevice(device)? 'sign':'state']"
                            [level]="(device.alarm?device.alarm.level:'1')"></status-picto>-->
              <!--          <status-picto [type]="StatuePictoType.default" [label]="wording['default']" [level]="device?.default? device?.default?.level:'1'"></status-picto>-->
              <status-picto [type]="isDefaultDevice(device)? StatuePictoType.default : (isSignalisationDevice(device)? StatuePictoType.sign : StatuePictoType.alarm)"
                            [label]="wording[isDefaultDevice(device)? 'default' : (isSignalisationDevice(device)? 'sign' : 'alarm')]"
                            [level]="getPictoLevel(device)"></status-picto>
            </div>
          </div>

          @if (device?.data!.length) {

            @for (item of device?.data!; track item) {
              <div class="item">
                <div class="title">{{ item.dataType.name | firstLetterUppercase }}&nbsp;: {{ item.data + item.dataType.unity }}
                </div>
              </div>
            }

          } @else {
            <div class="item">
              <div class="title">{{ wording['no_data'] | firstLetterUppercase }}</div>
            </div>
          }

        </div>

      </div>
    }

  </div>

  <router-outlet></router-outlet>

</div>
