<div class="page" [class.no-logs]="logHidden">

  <div #body [class]="'body offset-' + contentOffset">

    <!-- ÉTAT DU SITE -->
    <div class="box-item box-status">
      <div class="content">

        <div [class]="'title '+(data!.status.level_num==1? 'active' : 'unactive')+(' status-'+data!.status.level_num)">
          <!-- modif andre 31.05.2024 <span class="status">{{ wording[data!.status.level_num==1 ? 'active_site' : (data!.status.level_num==0? 'unactive_site' : 'site_hs')] | firstLetterUppercase }}</span>-->
          <span class="status">{{ wording[data!.status.level_num == 1 ? 'active_site' : (data!.status.level_num == 0 ? 'unactive_site' : (data!.status.level_num == 2 ? 'site_hs' : 'site_connlost'))] | firstLetterUppercase }}</span>
          <span class="subtitle">{{ wording['last_update'] | firstLetterUppercase }}&nbsp;: {{ data!.updated_at | date: 'dd/MM/yyyy HH:mm:ss' }}</span>
        </div>

        <div class="items">

          <!-- STATUS -->
          <div class="pictos enlarged">
            <!-- ALARME -->
            <ng-container *ngTemplateOutlet="(data?.alarm&&data?.alarm?.level!=='0' && data?.alarm&&data?.alarm?.level!=='1' && data?.alarm&&data?.alarm?.level!=='10')? siteAlarmStatus : siteNoAlarmStatus; context: {alarm: data?.alarm}"></ng-container>
            <!-- SIGNALISATION -->
            <ng-container *ngTemplateOutlet="siteSignalisationStatus; context: {signalisation: data?.sgnl_site??'SGNLON'}"></ng-container>
            <!-- DÉFAUT TECHNIQUE -->
            <ng-container *ngTemplateOutlet="siteDefaultStatus; context: {default: data?.default}"></ng-container>
          </div>

          <!-- BOUTON INTERVENIR -->
          <div class="box-item box-single-item action-button"
               matRipple [matRippleColor]="'var(--main-color-ripple-color)'"
               (click)="handleAction({ name: 'open-commands-overlay' })">
            <div class="title">{{ wording['site_actions'] | firstLetterUppercase }}</div>
          </div>

        </div>

      </div>
    </div>

    <!-- STATIONS (ADMIN ONLY) -->
    @if (isAdmin) {
      <div class="box-item box-single-item"
           matRipple [matRippleColor]="all_alarm_devices.length?'var(--main-color-ripple-color)':'transparent'"
           [routerLink]="['./stations']">
        <div class="title">{{ wording['stations'] | firstLetterUppercase }}</div>
      </div>
    }

    <!-- DISPOSITIFS D'ALARME -->
    <!--<div class="box-item box-single-item"
         matRipple
         [matRippleColor]="all_alarm_devices.length?'var(&#45;&#45;main-color-ripple-color)':'transparent'"
         [routerLink]="['./stations/all/alarm-devices']">
      <div class="title">{{ wording['alarm_devices'] | firstLetterUppercase }}</div>
        @if(all_alarm_devices.length) {
          <div class="pictos">
              <status-picto [type]="StatuePictoType.alarm"
                          [label]="wording['alarm']"
                          [level]="max_alarm_devices_alarm_level"></status-picto>
          </div>
        }
    </div>-->

    <!-- DISPOSITIFS SIGNALISATION -->
    <!--<div class="box-item box-single-item"
         matRipple
         [matRippleColor]="all_signalisation_devices.length?'var(&#45;&#45;main-color-ripple-color)':'transparent'"
         [routerLink]="['./stations/all/signalisation-devices']">
      <div class="title">{{ wording['sign_devices'] | firstLetterUppercase }}</div>
      @if (all_signalisation_devices.length) {
        <div class="pictos">
          <status-picto [type]="StatuePictoType.sign"
                        [label]="wording['sign']"
                        [level]="max_signalisation_devices_alarm_level"></status-picto>
        </div>
      }
    </div>-->

    <!-- CAPTEURS -->
    <div class="box-item box-single-item"
         matRipple
         [matRippleColor]="'var(--main-color-ripple-color)'"
         [routerLink]="['./stations/all/sensors']">
      <div class="title">{{ wording['sensors'] | firstLetterUppercase }}</div>
    </div>

    <!-- CAMÉRAS -->
    <div class="box-item box-single-item"
         matRipple
         [matRippleColor]="'var(--main-color-ripple-color)'"
         [routerLink]="['./cameras']">
      <div class="title">{{ wording['cameras'] | firstLetterUppercase }}</div>
    </div>

  </div>

  <!-- SIDENAV COMMANDES -->
  <mat-sidenav-container hasBackdrop="false" class="sidenav-container">

    <mat-sidenav #commandsSidenav mode="over" position="end" class="sidenav blured site-commands" fixedInViewport>

      <div class="sidenav-backdrop"
           (click)="!commandInProgress? handleAction({ name: 'close-commands-overlay' }) : null"></div>

      <div class="sidenav-content">

        <!-- COMMANDS OPÉRATEUR -->
        <div class="item no-title">

          <div class="commands">

            @for (command of basicCommands; track command) {

              <div [class]="'command '+getCommandState(command)"
                   [class.disabled]="commandInProgress">
                @if (command.name === 'ORANGE_STATUS') {
                  <ng-container *ngTemplateOutlet="commandToggleButton; context: {
                                command: command,
                                commandParam: commandParams[command.name],
                                checked: data!.sgnl_site!=='SGNLPAUSE' && data!.sgnl_site!=='SGNLOFF',
                                locked: commandInProgress && currentCommandUid===command.uid,
                                buttonIconId: data!.status.level_num<2? 'play_arrow':'pause' }"></ng-container>
                }
                @else {
                  <ng-container *ngTemplateOutlet="commandButton; context: {
                                  command:command,
                                  commandParam:commandParams[command.name],
                                  buttonLabelId: command.label_id }"></ng-container>
                }

              </div>

            }

          </div>

        </div>

        <!-- COMMANDES ADMIN -->
        @if (isAdmin && adminCommands.length) {
          <div class="item">

            <mat-accordion>

              <mat-expansion-panel hideToggle>

                <mat-expansion-panel-header>
                  <mat-panel-title>{{ wording['admin_commnand_invit'] | firstLetterUppercase }}</mat-panel-title>
                </mat-expansion-panel-header>

                <div class="commands">

                  @for (command of adminCommands; track command) {

                    <div [class]="'command '+getCommandState(command)" [class.disabled]="commandInProgress">
                      @if (command.name === 'SITE_STATUS') {
                        <ng-container *ngTemplateOutlet="commandToggleButton; context: {
                                command: command,
                                commandParam: commandParams[command.name],
                                checked: data!.status.level_num==1,
                                locked: commandInProgress && currentCommandUid===command.uid,
                                buttonLabelId: data!.status.level_num==1? 'active_site':'unactive_site' }"></ng-container>
                      }

                      @else if (command.name === 'SITE_ALMLVL' || command.name === 'SITE_SGNLLVL') {
                        <ng-container *ngTemplateOutlet="commandParametricButton; context: {
                                command: command,
                                commandParam: commandParams[command.name],
                                paramsSubset: command.name==='SITE_ALMLVL'? alarmLevels : signalisationLevels,
                                signalisationMode: command.name!=='SITE_ALMLVL',
                                forcedMode: command.name==='SITE_ALMLVL'? isAlarmForced(data?.alarm) : isSignForced(data?.sgnl_site),
                                currentSelection: command.name==='SITE_ALMLVL'? data?.alarm?.level : data?.sgnl_site,
                                buttonLabelId: command.label_id }"></ng-container>
                      }

                      @else {
                        <ng-container *ngTemplateOutlet="commandButton; context: {
                                command: command,
                                commandParam: commandParams[command.name],
                                buttonLabelId: command.label_id }"></ng-container>
                      }

                    </div>

                  }

                </div>

              </mat-expansion-panel>

            </mat-accordion>

          </div>
        }

      </div>

    </mat-sidenav>

  </mat-sidenav-container>

  <!-- SIDENAV SETTINGS -->
  <mat-sidenav-container hasBackdrop="false" class="sidenav-container">
    <mat-sidenav #settingsSidenav mode="over" position="end" class="sidenav blured site-settings" fixedInViewport>
      <div class="sidenav-backdrop" (click)="handleAction({ name: 'close-settings-overlay' })"></div>
      <div class="sidenav-content">
        <div class="title">En cours de développement</div>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>

  <router-outlet></router-outlet>

</div>


<ng-template #commandButton let-command="command" let-commandParam="commandParam" let-commandArgs="commandArgs" let-buttonLabelId="buttonLabelId" let-disabled="disabled">
  <div class="content" [class.disabled]="disabled"
       matRipple [matRippleColor]="'var(--highlight-ripple-color)'"
       (click)="handleCommand(command, commandArgs)">
    <ng-container *ngTemplateOutlet="currentCommandUid===command.uid && commandInProgress? commandButtonSpinner : commandButtonPicto; context: {commandPicto: commandParam.picto}"></ng-container>
    {{ wording[buttonLabelId] | uppercase }}
  </div>
</ng-template>

<ng-template #commandParametricButton let-command="command" let-commandParam="commandParam" let-buttonLabelId="buttonLabelId" let-params="paramsSubset" let-signalisationMode="signalisationMode" let-forcedMode="forcedMode">
  <div class="content">
    <ng-container *ngTemplateOutlet="currentCommandUid===command.uid && commandInProgress? commandButtonSpinner : commandButtonPicto; context: {commandPicto: commandParam.picto}"></ng-container>
    {{ wording[buttonLabelId] | uppercase }}
  </div>
  <mat-button-toggle-group #paramsGroup="matButtonToggleGroup" class="params">
    @for (item of params | keyvalue; track item) {
      <mat-button-toggle
        [class]="'param '+$any(item).value['class']"
        [class.forced]="forcedMode"
        [value]="$any(item).value.id"
        [checked]="isCommandParametricButtonChecked($any(item).value.level.toString(), signalisationMode)"
        (click)="handleCommand(command, paramsGroup.value)">{{ $any(item).value.label }}</mat-button-toggle>
    }
  </mat-button-toggle-group>
</ng-template>

<ng-template #commandToggleButton let-command="command" let-checked="checked" let-locked="locked" let-buttonLabelId="buttonLabelId" let-buttonIconId="buttonIconId">
  <mat-slide-toggle class="toggle-btn"
                    matRipple [matRippleColor]="'var(--main-color-ripple-color)'"
                    [class.checked]="checked"
                    [class.locked]="locked"
                    [labelPosition]="'before'"
                    [checked]="checked"
                    (toggleChange)="handleCommand(command)">
    @if(buttonIconId && !(currentCommandUid === command.uid && commandInProgress)) {
      <mat-icon>{{ buttonIconId }}</mat-icon>
    }
    @else if(!(currentCommandUid === command.uid && commandInProgress)) {
      {{ wording[buttonLabelId] | firstLetterUppercase }}
    }
    @else {
      <mat-spinner class="command-spinner"></mat-spinner>
    }
  </mat-slide-toggle>
</ng-template>

<ng-template #commandButtonPicto let-commandPicto="commandPicto">
  <mat-icon>{{ commandPicto }}</mat-icon>
</ng-template>

<ng-template #commandButtonSpinner>
  <mat-spinner class="command-spinner"></mat-spinner>
</ng-template>

<ng-template #siteAlarmStatus let-alarm="alarm">
  <div class="status-picto"
       matRipple
       [matRippleColor]="'var(--main-color-ripple-color)'"
       [routerLink]="['./stations/all/alarm-devices']">
    <div class="label">
      <mat-icon>chevron_right</mat-icon>&nbsp;&nbsp;{{ wording['alarm'] }}
    </div>
    <div [class]="'aquitable-level status-level-alarm-'+alarm?.level">
      <div class="level">{{ limitLevel(alarm) }}{{ isAlarmForced(alarm)? '!':'' }}</div>
      <button mat-icon-button class="reset-btn" (click)="$event.stopImmediatePropagation();handleCommand({name:'ALM_QUITTANCE'})">
        <mat-icon>done</mat-icon>
      </button>
    </div>
  </div>
</ng-template>

<ng-template #siteNoAlarmStatus let-alarm="alarm">
  <div class="status-picto no-alarm"
       matRipple
       [matRippleColor]="'var(--main-color-ripple-color)'"
       [routerLink]="['./stations/all/alarm-devices']">
    <div class="label">
      <mat-icon>chevron_right</mat-icon>&nbsp;&nbsp;{{ wording['alarm'] }}
    </div>
    <div [class]="'level status-level-alarm-'+(alarm?.level? limitLevel(alarm) : '1')">{{ alarm?.level? alarm?.level==='0' ? 'OFF':alarm?.level : '1' }}{{ alarm?.level?(isAlarmForced(alarm)? '!':'') : '' }}</div>
  </div>
</ng-template>

<ng-template #siteSignalisationStatus let-signalisation="signalisation">
  <div class="status-picto"
       matRipple
       [matRippleColor]="'var(--main-color-ripple-color)'"
       [routerLink]="['./stations/all/signalisation-devices']">
    <div class="label">
      <mat-icon>chevron_right</mat-icon>&nbsp;&nbsp;{{ wording['signalisation'] }}
    </div>
    <div [class]="'level status-level-'+(signalisation|lowercase)">{{ isSignForced(signalisation)? '!':'' }}</div>
  </div>
</ng-template>

<ng-template #siteDefaultStatus let-default="default">
  <div class="status-picto"
       matRipple
       [matRippleColor]="'var(--main-color-ripple-color)'"
       [routerLink]="['./stations/all/devices-in-default']">
    <div class="label">
      <mat-icon>chevron_right</mat-icon>&nbsp;&nbsp;{{ wording['technical_default'] }}
    </div>
    <div [class]="'level status-level-'+(default?.level??'1')+' level-'+(default?.level??'1')"></div>
  </div>
</ng-template>
