.content{
  position: absolute;
  left: 0;
  bottom: 0;
  width: var(--max-width);
  height: var(--log-box-height);
  background: var(--main-color-extra-light);
  overflow: hidden;
  z-index: 1000;
  -webkit-transition: top .3s ease-out, bottom .3s ease-out, height .3s ease-out;
  -moz-transition: top .3s ease-out, bottom .3s ease-out, height .3s ease-out;
  transition: top .3s ease-out, bottom .3s ease-out, height .3s ease-out;
  &.hidden {
    bottom: calc(var(--log-box-height) * -1);
    height: 0;
  }
  &.disabled .head {
    color: var(--mid-grey);
    .toggle-button {
      display: none;
    }
  }
  &.opened {
    height: calc(100vh - 112px);
    .head {
      border-bottom-color: var(--border-color);
    }
  }
  .head,
  .body{
    padding: var(--base-gutter);
  }
  .head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: var(--log-box-height);
    box-sizing: border-box;
    background-color: var(--background-color);
    border-top: var(--border);
    border-bottom: 1px solid transparent;
    font-size: 14px;
    font-weight: 300;
    color: var(--content-color);
    -webkit-transition: background .3s ease-out, color .3s ease-out, border-color .3s ease-out;
    -moz-transition: background .3s ease-out, color .3s ease-out, border-color .3s ease-out;
    transition: background .3s ease-out, color .3s ease-out, border-color .3s ease-out;
    .log-date{
      font-weight: 200;
    }
    .loading-spinner{
      margin-right: 8px;
      opacity: 0;
      margin-left: -28px;
      -webkit-transition: opacity .3s ease-out;
      -moz-transition: opacity .3s ease-out;
      transition: opacity .3s ease-out;
      &.visible {
        opacity: 1;
      }
    }
    .toggle-button {
      position: absolute;
      right: 0;
      height: 100%;
      max-height: var(--log-box-height);
      padding: 8px;
    }
  }
  .body{
    box-sizing: border-box;
    height: calc(100vh - 112px - var(--log-box-height));
    padding: var(--base-gutter);
    color: var(--main-color);
    .list {
      box-sizing: border-box;
      height: 100%;
      padding: 0;
      background-color: var(--highlight-color);
      border: var(--border);
      border-radius: var(--box-border-radius);
      font-weight: 100;
      font-size: 13px;
      color: var(--content-color);
      overflow-y: auto;
    }
    .item {
      padding: 2px calc(var(--base-gutter) / 2);
      &:nth-child(odd) {
        background-color: var(--extra-light-grey);
      }
      .object,
      .state,
      .actor {
        font-weight: 300;
      }
      .state {
        &.stored{ color: var(--blue) }
        &.waiting{ color: var(--yellow) }
        &.confirmed{ color: var(--green) }
        &.rejected{ color: var(--red) }
        &.timeout{ color: var(--red) }
      }
    }
  }
}
