<div style="z-index:10000">
  <div mat-dialog-content><p [innerHTML]="data.message"></p></div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="'cancel'">{{ data.cancel.label }}</button>
    <button mat-button [mat-dialog-close]="'confirm'">{{ data.confirm.label }}</button>
  </div>
</div>
