<header-view [singleSite]="singleSite" (action)="handleAction($event)"></header-view>

<div #contentContainer class="content-container">

  <page-header [level]="contentOffset" [singleSite]="singleSite"></page-header>

  <loading-spinner></loading-spinner>

  <div [class]="'page offset-' + contentOffset" [class.no-logs]="logHidden">

    <div class="body">
      @for (site of data; track site) {

        <div matRipple
             [matRippleColor]="'var(--main-color-ripple-color)'"
             class="box-item box-single-item"
             [class.disabled]="site.status.level_num!==1 && site.status.level_num!==3"
             [class.unactive]="site.status.level_num===3"
             [routerLink]="['/sites', site.id]">

          <div class="title">{{ site.name | firstLetterUppercase }}</div>

          <div class="pictos">

            <status-picto [type]="StatuePictoType.sign"
                          [label]="wording['sign']"
                          [forced]="isStatusForced(site.signalisation_status)"
                          [unactive]="site.status.level_num===3"
                          [level]="limitLevel(site.signalisation_status)"></status-picto>

            <status-picto [type]="StatuePictoType.alarm"
                          [label]="wording['alarm']"
                          [forced]="site.alarm?isStatusForced(site.alarm):false"
                          [unactive]="site.status.level_num===3"
                          [level]="site.alarm?limitLevel(site.alarm):'1'"></status-picto>

            <status-picto [type]="StatuePictoType.default"
                          [label]="wording['default']"
                          [forced]="true"
                          [unactive]="site.status.level_num===3"
                          [level]="site.default?limitLevel(site.default):'1'"></status-picto>

          </div>

        </div>
      }
    </div>
  </div>

  <router-outlet></router-outlet>

  <logs-view></logs-view>

  <alert-view [data]="alertData"></alert-view>

</div>

<mat-sidenav-container hasBackdrop="false" class="sidenav-container">

  <mat-sidenav #menuSidenav mode="over" position="start" class="sidenav blured menu" fixedInViewport>

    <div class="sidenav-backdrop" (click)="handleAction({ name: 'close-menu' })"></div>

    <div class="sidenav-content">

      <div class="sidenav-content-item"
           [class.active]="favoriteLanguage==='fr'"
           (click)="handleAction({ name:'set-language', data:'fr' })">{{ wording['french'] | firstLetterUppercase }}
      </div>

      <div class="sidenav-content-item"
           [class.active]="favoriteLanguage==='de'"
           (click)="handleAction({ name:'set-language', data:'de' })">{{ wording['german'] | firstLetterUppercase }}
      </div>

      <div class="sidenav-content-item"
           [class.active]="favoriteLanguage==='en'"
           (click)="handleAction({ name:'set-language', data:'en' })">{{ wording['english'] | firstLetterUppercase }}
      </div>

      <div class="sidenav-content-item"
           [class.active]="favoriteLanguage==='it'"
           (click)="handleAction({ name:'set-language', data:'it' })">{{ wording['italian'] | firstLetterUppercase }}
      </div>

      <div class="sidenav-content-item empty">&nbsp;</div>

      <div class="sidenav-content-item"
           (click)="handleAction({ name:'open-contact' })">{{ wording['contact'] | firstLetterUppercase }}
      </div>

      <div class="sidenav-content-item empty">&nbsp;</div>

      <div routerLink="/login" class="sidenav-content-item">{{ wording['logout'] | firstLetterUppercase }}</div>
      @if (swUpdateEnabled) {
        <div class="sidenav-content-item empty">&nbsp;</div>
        <div class="sidenav-content-item"
             (click)="handleAction({ name:'check-version' })">{{ wording['check_version'] | firstLetterUppercase }}
        </div>
      }

      @if(appVersion) {
        <div class="version">{{ 'i18n.common.app_version' | translate }} : {{ appVersion }}</div>
      }

    </div>
  </mat-sidenav>

  <mat-sidenav #chatSidenav mode="over" position="end" class="sidenav chat" fixedInViewport>
    <div class="sidenav-backdrop" (click)="handleAction({ name: 'close-chat' })"></div>
    <div class="sidenav-content">chat <br>en cours de développement</div>
  </mat-sidenav>

</mat-sidenav-container>

<mat-sidenav-container hasBackdrop="false" class="sidenav-container">

  <mat-sidenav #contactSidenav
               mode="over"
               position="end"
               fixedInViewport
               class="sidenav blured contact">

    <div class="sidenav-backdrop" (click)="handleAction({ name: 'close-contact' })"></div>

    <div class="sidenav-content">

      <div class="title">{{ wording['contact_us_invit'] | firstLetterUppercase }}</div>

      <p>{{ wording['contact_us_by_email_invit'] | firstLetterUppercase }} : <a
        [href]="'mailto:'+wording['contact_us_by_email_value']">{{ wording['contact_us_by_email_value'] }}</a></p>
      <p>{{ wording['contact_us_by_phone_invit'] | firstLetterUppercase }} : <a
        [href]="'tel:'+wording['contact_us_by_phone_value']">{{ wording['contact_us_by_phone_value'] }}</a></p>

      <!-- TODO > CONTACT FORM -->
      <!--<section>
        <h4>{{ wording['contact_us_by_email_invit'] | firstLetterUppercase }}</h4>
        <contact-form></contact-form>
      </section>

      <section>
        <h4>{{ wording['contact_us_by_phone_invit'] | firstLetterUppercase }}</h4>
        <p><a [href]="'tel:'+wording['contact_us_by_phone_value']">{{ wording['contact_us_by_phone_value'] }}</a></p>
      </section>-->

    </div>
  </mat-sidenav>

</mat-sidenav-container>

<mat-sidenav-container hasBackdrop="false" class="sidenav-container">

  <mat-sidenav #updateSidenav
               mode="over"
               position="start"
               fixedInViewport
               class="sidenav blured menu"
               [opened]="versionChanged">

    <div class="sidenav-backdrop" (click)="handleAction({ name: 'close-update-overlay' })"></div>

    <div class="sidenav-content flex column">

      <div [innerHTML]="wording['update_available'] | firstLetterUppercase"></div>

      <div class="sidenav-content flex row justify-center">

        <div class="sidenav-content-button"
             (click)="handleAction({ name:'infirm-update', data:'fr' })">{{ wording['confirmation_dialog_infirm_label'] | firstLetterUppercase }}
        </div>

        <div class="sidenav-content-button"
             (click)="handleAction({ name:'confirm-update', data:'fr' })">{{ wording['confirmation_dialog_confirm_label'] | firstLetterUppercase }}
        </div>

      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
