<form class="contact-form" [formGroup]="contactForm">

  <mat-form-field class="form-input">
    <mat-label>{{ wording['contact_us_form_object'] | firstLetterUppercase }}</mat-label>
    <input matInput [formControlName]="'object'" placeholder="">
  </mat-form-field>

  <mat-form-field class="form-input">
    <mat-label>{{ wording['contact_us_form_message'] | firstLetterUppercase }}</mat-label>
    <textarea matInput [formControlName]="'message'" placeholder=""></textarea>
  </mat-form-field>

  <button mat-stroked-button
          [disabled]="!contactForm.valid"
          class="uk-button uk-width-1-1 login-valid">{{ wording['contact_us_send_message'] | firstLetterUppercase }}
  </button>

</form>
