<mat-toolbar class="main-header">

  <button mat-icon-button (click)="handleAction({ name: 'open-menu' })">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="jumbotron" [routerLink]="!singleSite? ['/sites'] : []">
    <div class="logo"></div>
    <div class="content">
      <h1>{{ wording['app_name'] | firstLetterUppercase }}</h1>
    </div>
  </div>

  <button mat-icon-button (click)="handleAction({ name: 'open-chat' })">
    <mat-icon>chat</mat-icon>
  </button>

</mat-toolbar>
