:host{
  position: fixed;
  left: 0;
  top: 0;
  width: var(--max-width);
  z-index: 100;
}
.mat-toolbar-row, .mat-toolbar-single-row{
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 56px;
  padding: 0 3px 0 6px;
  justify-content: space-between;
  background: var(--main-color);
  color: var(--content-color);
}
h1{
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: var(--content-color);
}
h4{
  font-size: 12px;
  font-weight: 100;
  line-height: 14px;
  color: var(--content-color);
}
.logo {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  margin: 0 var(--base-gutter) 0 0;
  background-image: url('/assets/mobile/logo_geoazimut.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.jumbotron{
  display: inline-flex;
  flex-direction: row;
  .content{
    flex-direction: column;
    align-self: center;
  }
}
