<div class="page">
  <div #body [class]="'body offset-' + contentOffset">
    <ng-container *ngTemplateOutlet="sensors.length?sensorsTemplate:noDataTemplate"></ng-container>
  </div>
  <router-outlet></router-outlet>
</div>

<ng-template #sensorsTemplate>
  @for (sensor of sensors; track sensor) {

    <!--<div matRipple
         [matRippleColor]="'var(&#45;&#45;main-color-ripple-color)'"
         class="box-item box-single-item"
         [routerLink]="['./'+sensor.id]">
      <div class="title">{{ sensor.name }}</div>
    </div>-->

    <div class="box-item box-multi-items">

      <div class="content">

        <div class="title">{{ sensor?.name | firstLetterUppercase }}</div>

        @for (item of sensor?.data!; track item) {
          <div class="item">
            <div class="title">{{ item.dataType.name | firstLetterUppercase }}&nbsp;: {{ item.data + item.dataType.unity }}</div>
          </div>
        }
      </div>

    </div>
  }
</ng-template>

<ng-template #noDataTemplate>
  <div class="box-item box-multi-items">
    <div class="content">
      <div class="item">
        <div class="title">{{ wording['no_sensor_registered'] | firstLetterUppercase }}</div>
      </div>
    </div>
  </div>
</ng-template>
