<div class="page">

  <div #body [class]="'body with-logs offset-' + contentOffset">

    @if(devices.length){
      @for (device of devices; track device) {
        <div matRipple [matRippleColor]="'var(--main-color-ripple-color)'"
             class="box-item box-single-item"
             [routerLink]="[fixDeviceUrl(device.stationId)+'/'+device.id]">

          <div class="title">{{ device.name }}</div>

          <div class="pictos">
            <!--<status-picto
              [type]="isSignalisationView||isSignalisationDevice(device)? StatuePictoType.sign : StatuePictoType.alarm"
              [label]="isSignalisationView||isSignalisationDevice(device)? wording['sign'] : (isDeviceInDefaultView && isDefaultDevice(device)?  wording['default'] : isAlarmView? wording['alarm'] : wording['state'])"
              [level]="isSignalisationView||isSignalisationDevice(device)? (device.sign_state? device.sign_state.level : (device.alarm?device.alarm.level:'1')) : (isDeviceInDefaultView && isDefaultDevice(device)? device.default.level : (device.alarm?device.alarm.level:'1'))"></status-picto>-->
            <status-picto
              [type]="isSignalisationView||isSignalisationDevice(device)? StatuePictoType.sign : StatuePictoType.alarm"
              [label]="isSignalisationView||isSignalisationDevice(device)? wording['sign'] : (isDeviceInDefaultView? wording['default'] : wording['state'])"
              [level]="getPictoLevel(device)"></status-picto>
          </div>

        </div>
      }
    }
    @else {
      <ng-container *ngTemplateOutlet="noDataTemplate"></ng-container>
    }

  </div>

  <router-outlet></router-outlet>

</div>

<ng-template #noDataTemplate>
  <div class="box-item box-multi-items">
    <div class="content">
      <div class="item">
        <div class="title">{{ wording['no_device_registered'] | firstLetterUppercase }}</div>
      </div>
    </div>
  </div>
</ng-template>
