:host {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 1000;
  .container{
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
