<div @fadeInOut class="container">

  <div class="overlay-backdrop" (click)="handleAction({ name:'close-overlay' })"></div>

  <div class="overlay-content">

    <div class="header">
      @if (data?.id) {
        {{ wording['user_edition'] | firstLetterUppercase }} {{ data?.firstname | firstLetterUppercase }} {{ data?.lastname | firstLetterUppercase }}
      }
      @if (!data || data!.id===undefined) {
        {{ wording['user_creation'] | firstLetterUppercase }}
      }
    </div>

    <div class="body">

      <content-box class="form-condensed" [title]="wording['user_infos'] | firstLetterUppercase">

        @if (userInfosFormGroup) {

          <form class="reporting-form"
                [formGroup]="userInfosFormGroup"
                (ngSubmit)="handleUserInfosChange()">

            <div class="flex">

              <div class="flex row">

                <div class="column">
                  <mat-form-field appearance="fill">
                    <mat-label>{{ wording['user_firstname'] | firstLetterUppercase }}</mat-label>
                    <input matInput
                           formControlName="firstname"
                           [class.invalid]="userInfosFormGroup.controls['firstname'].invalid
                         && userInfosFormGroup.controls['firstname'].dirty
                         && !userInfosFormGroup.controls['firstname'].pristine">
                    <mat-icon matSuffix>badge</mat-icon>
                  </mat-form-field>
                </div>

                <div class="column">
                  <mat-form-field appearance="fill">
                    <mat-label>{{ wording['user_lastname'] | firstLetterUppercase }}</mat-label>
                    <input matInput
                           formControlName="lastname"
                           [class.invalid]="userInfosFormGroup.controls['lastname'].invalid
                         && userInfosFormGroup.controls['lastname'].dirty
                         && !userInfosFormGroup.controls['lastname'].pristine">
                    <mat-icon matSuffix>badge</mat-icon>
                  </mat-form-field>
                </div>

              </div>

              <mat-form-field appearance="fill">
                <mat-label>{{ wording['user_email'] | firstLetterUppercase }}</mat-label>
                <input matInput
                       formControlName="email"
                       [class.invalid]="userInfosFormGroup.controls['email'].invalid
                     && userInfosFormGroup.controls['email'].dirty
                     && !userInfosFormGroup.controls['email'].pristine">
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>

              <div class="flex row">

                <div class="column">
                  <mat-form-field appearance="fill">
                    <mat-label>{{ wording['user_phone_number'] | firstLetterUppercase }}</mat-label>
                    <input matInput
                           formControlName="phone_number"
                           [class.invalid]="userInfosFormGroup.controls['phone_number'].invalid
                         && userInfosFormGroup.controls['phone_number'].dirty
                         && !userInfosFormGroup.controls['phone_number'].pristine">
                    <mat-icon matSuffix>call</mat-icon>
                  </mat-form-field>
                </div>

                <div class="column">
                  <mat-form-field appearance="fill">
                    <mat-label>{{ wording['user_mobile_phone_number'] | firstLetterUppercase }}</mat-label>
                    <input matInput
                           formControlName="mobile_phone_number"
                           [class.invalid]="userInfosFormGroup.controls['mobile_phone_number'].invalid
                         && userInfosFormGroup.controls['mobile_phone_number'].dirty
                         && !userInfosFormGroup.controls['mobile_phone_number'].pristine">
                    <mat-icon matSuffix>smartphone</mat-icon>
                  </mat-form-field>
                </div>

                <div class="column">
                  <mat-form-field appearance="fill">
                    <mat-label>{{ wording['user_threema'] | firstLetterUppercase }}</mat-label>
                    <input matInput
                           formControlName="id_threema"
                           [class.invalid]="userInfosFormGroup.controls['id_threema'].invalid
                         && userInfosFormGroup.controls['id_threema'].dirty
                         && !userInfosFormGroup.controls['id_threema'].pristine">
                    <mat-icon matSuffix>chat</mat-icon>
                  </mat-form-field>
                </div>

              </div>

            </div>

          </form>
        }
      </content-box>

      <content-box [title]="wording['user_password'] | firstLetterUppercase">
        <!-- form password -->
        <!-- ... -->
        [ ... ]
      </content-box>

      <content-box class="condensed" [title]="wording['user_rights'] | firstLetterUppercase">

        @if (data?.roles_by_site?.length) {
          <generic-table
            [structure]="userRightsTableStructure"
            [items]="data?.roles_by_site"
            [sortable]="false"
            [paginated]="false"
            [linked]="false"
            [withBottomLine]="true"
            (action)="handleAction($event)"></generic-table>
        }

        @if (!data?.roles_by_site?.length) {
          <div class="default-message">{{ wording['empty_user_role_list'] | firstLetterUppercase }}</div>
        }

        @if (userRoleFormGroup) {
          <user-role-selector
            [sites]="sites"
            [roles]="roles"
            [wording]="wording"
            [formGroup]="userRoleFormGroup"
            (action)="handleAction($event)"></user-role-selector>
        }

        <div class="add-btn" matRipple matRippleColor="var(--main-color-ripple-color)"
             (click)="handleAction({name:'create-user-role'})">
          <mat-icon>add</mat-icon>
          {{ wording['add_user_role'] | uppercase }}
        </div>

      </content-box>

    </div>

    <div class="footer">
      [ ... ]
    </div>

  </div>

  <router-outlet></router-outlet>

</div>
