<div class="container">

  <div class="login-form">

    <div class="head logo"></div>

    <div class="body">

      <h4>{{ 'i18n.login_view.login_invit' | translate }}</h4>

      <form class="login-form" [formGroup]="logingForm">

        <mat-form-field class="form-input">
          <mat-label>{{ 'i18n.login_view.email' | translate }}</mat-label>
          <input type="email" matInput [formControlName]="'email'" placeholder="">
        </mat-form-field>

        <mat-form-field class="form-input">
          <mat-label>{{ 'i18n.login_view.password' | translate }}</mat-label>
          <input type="password" matInput [formControlName]="'password'" placeholder="">
        </mat-form-field>

      </form>

    </div>

    <div class="footer">
      <button mat-stroked-button
              class="uk-button uk-width-1-1 login-valid"
              [disabled]="!logingForm.valid"
              (click)="login()">{{ 'i18n.login_view.validate' | translate }}
      </button>
    </div>

    <div class="footer language-selector">
      <mat-button-toggle-group name="favoriteLanguage" aria-label="Favorite language" (change)="hangleChangeLanguage($event)">
        @for (language of languages; track language) {
          <mat-button-toggle [value]="language.id" [checked]="language.id===favoriteLanguage">{{ language.label }}</mat-button-toggle>
        }
      </mat-button-toggle-group>
    </div>

  </div>

</div>
