<div class="page">

  <div #body [class]="'body offset-' + contentOffset">
    @for (station of stations; track station) {
      <div class="box-item box-single-item"
           [class.disabled]="station.status?.id===0"
           matRipple [matRippleColor]="'var(--main-color-ripple-color)'"
           [routerLink]="['./', station.id]">
        <div class="title">{{ station.name | firstLetterUppercase }}</div>
        <div class="pictos">

          @if(max_signalisation_devices_alarm_levels[station.name]){
            <status-picto [type]="StatuePictoType.sign"
                          [label]="wording['sign']"
                          [level]="max_signalisation_devices_alarm_levels[station.name]"></status-picto>
          }

          @if(hasAlarmDevices(station)) {
            <status-picto [type]="StatuePictoType.alarm"
                          [label]="wording['alarm']"
                          [level]="max_devices_alarm_levels[station.name]"></status-picto>
          }

          <status-picto [type]="StatuePictoType.default"
                        [label]="wording['default']"
                        [level]="max_devices_default_levels[station.name]"></status-picto>

        </div>
      </div>
    }
  </div>

  <router-outlet></router-outlet>

</div>
