<mat-toolbar class="main-header">

  <div class="logo" routerLink="/"></div>

  <div class="navigation">

    @if (currentSection) {
      @for (item of currentSection.toolbar; track item) {
        <button mat-icon-button (click)="handleToolbarAction(item.actionName)">
          <ng-container *ngTemplateOutlet="toolEntry; context: { picto: item.pictoId }"></ng-container>
        </button>
      }
    }

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu" class="header-menu">

      <mat-button-toggle-group name="locales" aria-label="Locales" class="language-selector" [value]="favoriteLanguage">
        @for (language of languages; track language) {
          <mat-button-toggle
            [value]="language.id"
            (click)="hangleChangeLanguage(language)">{{ language.label | firstLetterUppercase }}
          </mat-button-toggle>
        }
      </mat-button-toggle-group>

      <mat-divider></mat-divider>

      <button mat-menu-item class="logout-button" (click)="handleLogout()">
        <mat-icon>power_settings_new</mat-icon>
        <span>{{ wording['logout'] | firstLetterUppercase }}</span>
      </button>

    </mat-menu>

  </div>

</mat-toolbar>

@if (userSections) {
  <nav mat-tab-nav-bar [tabPanel]="tabPanel" class="main-navbar">
    @for (item of userSections; track item) {
      <a mat-tab-link
         class="navigation-item"
         [active]="currentSection===item"
         [routerLink]="item.url">
        <span translate>{{ wording[item.labelId] | uppercase }}</span>
      </a>
    }
  </nav>
}

<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>

<loading-spinner></loading-spinner>

<ng-template #toolEntry let-picto="picto">
  <mat-icon aria-hidden="false" aria-label="" [fontIcon]="picto"></mat-icon>
</ng-template>
