<div #alertContainer [class]="'alert-view ' + data?.type" (click)="alertClosable?handleAction({name:'close'}) : null">
  @if (data) {
    <div class="content">{{ wording[data.messageId] | firstLetterUppercase }}</div>
    <div #progressBar class="progress-bar"></div>
  }
</div>
