<div class="page">

  <div #body [class]="'body offset-' + contentOffset">

    <div class="box-item box-multi-items">

      <div class="content">

        <div class="title-extended">

          <div class="title">{{ device?.name | firstLetterUppercase }}</div>

          <div class="pictos">
            <!--<status-picto
              [type]="isSignalisationView||isSignalisationDevice()?StatuePictoType.sign:StatuePictoType.alarm"
              [label]="isSignalisationView||isSignalisationDevice()?wording['sign']:wording['state']"
              [level]="device?.sign_state? device?.sign_state?.level : (device?.alarm? device?.alarm?.level:'1')"></status-picto>-->
            <status-picto
              [type]="isSignalisationView||isSignalisationDevice()? StatuePictoType.sign : StatuePictoType.alarm"
              [label]="isSignalisationView||isSignalisationDevice()? wording['sign'] : (isDeviceInDefaultView? wording['default'] : wording['state'])"
              [level]="getPictoLevel()"></status-picto>
          </div>
        </div>

        @for (item of device?.data!; track item) {
          <div class="item">
            <div class="title">{{ item.dataType.name | firstLetterUppercase }}&nbsp;: {{ item.data + item.dataType.unity }}</div>
          </div>
        }

      </div>

    </div>

  </div>

</div>
