<ng-container *ngTemplateOutlet="contentOffset>0? standaloneContent : overlayContent"></ng-container>

<ng-template #overlayContent>

  <div @fadeInOut [class]="'container offset-'+contentOffset">

    <div class="overlay-backdrop" (click)="handleAction({ name:'close-overlay' })"></div>

    <div class="overlay-content">

      <div class="header">{{ wording['device'] | firstLetterUppercase }} {{ data?.name | firstLetterUppercase }}</div>

      <div class="body">
        <ng-container *ngTemplateOutlet="bodyContent"></ng-container>
      </div>

      <div class="footer"></div>

    </div>

  </div>

</ng-template>

<ng-template #standaloneContent>

  <div class="overlay-content">

    <div class="header with-back-button">
      <button class="back-btn" mat-icon-button (click)="handleAction({name:'back'})"><mat-icon>arrow_back</mat-icon></button>
      {{ wording['device'] | firstLetterUppercase }} {{ data?.name | firstLetterUppercase }}
    </div>

    <div class="body">
      <ng-container *ngTemplateOutlet="bodyContent"></ng-container>
    </div>

    <div class="footer"></div>

  </div>

  <router-outlet></router-outlet>

</ng-template>

<ng-template #bodyContent>

  <content-box class="condensed" [title]="wording['device_implantation'] | firstLetterUppercase">
    <generic-table [structure]="implantationTableStructure" [items]="implantationData" [paginated]="false" [sortable]="false" [linked]="false"></generic-table>
  </content-box>

  <content-box [title]="wording['device_type'] | firstLetterUppercase">
    <div class="flex row">
      <div>{{ data?.type?.name | firstLetterUppercase }}</div>
    </div>
  </content-box>

  <content-box [title]="wording['device_state'] | firstLetterUppercase">
    <div class="flex row">
      <div [class]="'status alarm-level-'+data?.alarm?.level">{{ data?.alarm?.description | firstLetterUppercase }}</div>
      <div [class]="'status default-level-'+data?.default?.level">{{ data?.default?.description | firstLetterUppercase }}</div>
    </div>
  </content-box>

  <content-box class="condensed" [title]="wording['device_details'] | firstLetterUppercase">
    @if (deviceDetailsData.length) {
<generic-table [structure]="deviceDetailsTableStructure" [items]="deviceDetailsData" [paginated]="false" [sortable]="false" [linked]="false"></generic-table>
}
    @if (!deviceDetailsData.length) {
{{ wording['no_data'] | firstLetterUppercase }}
}
  </content-box>

  <content-box class="condensed">
    [ charts... ]
  </content-box>

</ng-template>
