:host {
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1000;
  box-sizing: border-box;
  pointer-events: none;
  &.offset-0 {
    left: 0;
  }
  &.offset-1 {
    left: 100%;
  }
}
