<div class="page-header">

  @if ((level > 0 && parentUrl && !singleSite) || (level > 1 && parentUrl && singleSite)) {
    <button class="back-btn" mat-icon-button (click)="handleAction('back')">
      <mat-icon>arrow_back</mat-icon>
    </button>
  }

  <div class="label">{{ label }}</div>

  <div class="header-btns">

    <!-- REFRESH BUTTON -->
    @if (!!siteId) {
      <button
        mat-icon-button
        class="refresh-btn"
        [class.in-progress]="commandInProgress"
        (click)="handleAction('refresh-site')">
        <mat-icon>sync</mat-icon>
      </button>
    }

    <!-- SETTINGS BUTTON -->
    <!--<button *ngIf="isAdmin" mat-icon-button (click)="handleAction('open-site-settings')">
      <mat-icon>settings</mat-icon>
    </button>-->

  </div>

</div>
