@if (formGroup) {

  <form
    class="distribution-input"
    [class.active]="formEditing"
    [formGroup]="formGroup">

    <div class="flex">

      <div class="flex row">

        <!-- select user -->
        <div class="column">
          <mat-form-field appearance="fill">
            <mat-label>{{ wording['user'] }}</mat-label>
            <mat-select [disabled]="!formEditing"
                        formControlName="user"
                        [class.invalid]="userFormControls!.invalid && userFormControls!.dirty && !userFormControls!.pristine">
              @for (user of users!; track user) {
                <mat-option [value]="user.id">{{ user.firstname | firstLetterUppercase }} {{ user.lastname | firstLetterUppercase }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>

        <!-- chechbox group events.distribution_list_alarms  -->
        <div class="column">
          <div class="flex row justify-center">
            @for (control of distributionAlarmsFormControls; track control) {
              <mat-checkbox [formControl]="control"></mat-checkbox>
            }
          </div>
        </div>

        <!-- chechbox group events.distribution_list_defaults  -->
        <div class="column">
          <div class="flex row justify-center">
            @for (control of distributionDefaultsFormControls; track control) {
              <mat-checkbox [formControl]="control"></mat-checkbox>
            }
          </div>
        </div>

        <!-- chechbox group communications  -->
        <div class="flex row communications-column">
          @for (control of communicationsFormControls; track control) {
            <mat-checkbox [formControl]="control"></mat-checkbox>
          }
        </div>

        @if (!formEditable) {

          <div class="column no-flex">
            <button mat-icon-button color="primary" class="form-validation-button"
                    (click)="handleAction({name:formEditing?'update-distribution-item':'toggle-editing'})">
              <mat-icon>{{ formEditing ? 'done' : 'edit' }}</mat-icon>
            </button>
          </div>

          <div class="column no-flex">
            <button mat-icon-button color="primary" class="form-validation-button" [disabled]="formEditing"
                    (click)="handleAction({name:'suppress-distribution-item'})">
              <mat-icon>delete</mat-icon>
            </button>
          </div>

        } @else {

          <div class="column no-flex">
            <button mat-icon-button color="primary" class="form-validation-button empty"></button>
          </div>

          <div class="column no-flex">
            <button mat-icon-button color="primary" class="form-validation-button" [disabled]="!formGroup.valid"
                    (click)="handleAction({name:'register-distribution-item'})">
              <mat-icon>done</mat-icon>
            </button>
          </div>

        }

      </div>

    </div>

  </form>
}
