:host {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: calc(var(--padding-base) * 2.25) 0 0 0;
  padding: var(--padding-base);
  border: var(--border);
  border-radius: var(--box-border-radius);
  &:first-child {
    margin: calc(var(--padding-base) * 1.25) 0 0 0;
  }
  &.condensed {
    padding: calc(var(--padding-base) * .5) var(--padding-base);
  }
  &.form-condensed {
    padding: calc(var(--padding-base) * .75) var(--padding-base) 0 var(--padding-base);
  }
  .title {
    position: absolute;
    left: calc(var(--padding-base) * .5);
    top: -16px;
    padding: 0 calc(var(--padding-base) * .5);
    background-color: var(--background-color);
    font-size: 24px;
    font-weight: 400;
    color: var(--content-color);
  }
}
