@if (data?.data?.length) {

  <!-- distribution header -->
  <div class="flex header">

    <div class="flex row">

      <!-- select user -->
      <div class="column">
        {{ wording['user'] | firstLetterUppercase }}
      </div>

      <!-- chechbox group events.distribution_list_alarms  -->
      <div class="column">
        <div class="flex column justify-center">
          <div class="flex row justify-center">{{ wording['distribution_list_alarms'] | firstLetterUppercase }}</div>
          <div class="flex row justify-center">
            @for (item of data?.lists_by_type!['distribution_list_alarms']; let n = $index; track item) {
              <div class="item-index">{{ n + 1 }}</div>
            }
          </div>
        </div>
      </div>

      <!-- chechbox group events.distribution_list_defaults  -->
      <div class="column">
        <div class="flex column justify-center">
          <div
            class="flex row justify-center">{{ wording['distribution_list_technical_defaults'] | firstLetterUppercase }}
          </div>
          <div class="flex row justify-center">
            @for (item of data?.lists_by_type!['distribution_list_technical_defaults']; let n = $index; track item) {
              <div class="item-index">{{ n + 1 }}</div>
            }
          </div>
        </div>
      </div>

      <!-- chechbox group communications  -->
      <div class="column">
        <div class="flex column justify-center">
          <div class="flex row justify-center">{{ wording['distribution_list_message_type'] | firstLetterUppercase }}
          </div>
          <div class="flex row justify-center">
            @for (item of data?.communication_types!; track item) {
              <div class="item-index">{{ wording[item.label_name] | firstLetterUppercase }}</div>
            }
          </div>
        </div>
      </div>

      <div class="column no-flex validation"></div>

    </div>

  </div>

  <!-- distribution list -->
  <div class="flex">
    @if (data?.data?.length) {

      @for (item of data?.data!; track item) {
        <distribution-list-item
          [data]="item"
          [communicationTypes]="data?.communication_types"
          [listsByType]="data?.lists_by_type"
          [users]="data?.users"
          [wording]="wording"
          (action)="handleAction($event)"></distribution-list-item>
      }

    }
  </div>


}

@if (!data?.data?.length) {
  <div class="default-message">{{ wording['empty_distribution_list'] | firstLetterUppercase }}</div>
}

<div class="add-btn" matRipple matRippleColor="var(--main-color-ripple-color)"
     (click)="handleAction({name:'add-distribution-item'})">
  <mat-icon>add</mat-icon>
  {{ wording['add_user_to_distribution_list'] | uppercase }}
</div>
