.header {
  display: block;
  height: auto;
  padding: calc(var(--padding-base) * 0.25) 0 calc(var(--padding-base) * 0.5) 0;
  border-bottom: var(--border);
  font-size: 14px;
  font-weight: 400;
  .column {
    align-self: center;
    .row {
      line-height: 20px;
    }
  }
  .item-index {
    padding: 5px 16px 0 16px;
    font-size: 13px;
    line-height: 13px;
  }
  .validation {
    width: 140px;
  }
}
