<div class="table-container" [class.multiline-cell]="multiline" [class.with-bottom-line]="withBottomLine">

  @if (sortCollection.length) {
    <div class="filters"
         cdkDropList
         cdkDropListOrientation="horizontal"
         (cdkDropListDropped)="handleDropFilter($event)">
      @for (item of sortCollection; track item) {
        <div class="filter"
             cdkDrag="item"
             cdkDragPreviewClass="filter"
             cdkDragLockAxis="x"
             cdkDragBoundary=".filters">
          <span class="label">{{ wording[item['labelId']] | firstLetterUppercase }}</span>
          <span class="direction-btn" (click)="handleToggleFilter(item)">
                <div class="content" [class.active]="item.direction==='desc'">
                    <mat-icon>arrow_upward</mat-icon>
                    <mat-icon>arrow_downward</mat-icon>
                </div>
            </span>
          <span class="close-btn" (click)="handleRemoveFilter(item)"><mat-icon>close</mat-icon></span>
        </div>
      }
    </div>
  }

  @if (dataSource) {
    <mat-table
      matSort
      [class.expanded]="sortCollection.length"
      [dataSource]="dataSource">

      @for (item of this.tableStructure; track item) {
        <ng-container [matColumnDef]="item.id" [sticky]="true">
          <mat-header-cell mat-sort-header
                           [class.sortable]="sortable&&!item.actions"
                           [class]="getSortDirection(item.labelId)"
                           (click)="sortable&&!item.actions?handleSort(item.id):null"
                           *matHeaderCellDef><span>{{ wording[item['labelId']] | firstLetterUppercase }}</span>
          </mat-header-cell>
          <mat-cell [class]="resolveCellClass(item.id, data)" *matCellDef="let data">
            @if (!item.actions) {
              {{ resolveCellContent(item.key, data, '.', item.keySeparator) }}
            } @else {
              @for (action of item.actions; track action) {
                <button mat-icon-button color="primary" (click)="handleAction($event, data, action)">
                  <mat-icon>{{ action.picto }}</mat-icon>
                </button>
              }
            }
          </mat-cell>
        </ng-container>
      }

      @if (paginated) {
        <ng-container matColumnDef="pagination">
          <td mat-footer-cell *matFooterCellDef [attr.colspan]="this.tableColumns?.length">
            <mat-paginator [pageSize]="20"
                           [pageSizeOptions]="[20, 30, 50]"
                           showFirstLastButtons
                           aria-label="Select page">
            </mat-paginator>
            <button mat-icon-button
                    matTooltip="Export current datas"
                    matTooltipPosition="above"
                    class="export-button"
                    (click)="handleExport()">
              <mat-icon>cloud_download</mat-icon>
            </button>
          </td>
        </ng-container>
      }

      <mat-header-row *matHeaderRowDef="tableColumns!; sticky:true"></mat-header-row>
      <mat-row *matRowDef="let row; columns:tableColumns!;"
               [class.no-link]="!linked"
               (click)="linked?handleSelection(row):null"></mat-row>
      @if (paginated) {
        <mat-footer-row *matFooterRowDef="['pagination']"></mat-footer-row>
      }

    </mat-table>
  }

</div>
