.filters{
  position: sticky;
  top: 0;
  padding: calc(var(--padding-base) * .5) calc(var(--padding-base) * .5) calc(var(--padding-base) * .25) calc(var(--padding-base) * .5);
  border-bottom: var(--border);
}
.filter{
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  margin: 0 calc(var(--padding-base) * .5) calc(var(--padding-base) * .25) 0;
  padding: 0 calc(var(--padding-base) * .5) 0 calc(var(--padding-base) * .5);
  background: var(--main-color);
  border-radius: 13px;
  font-size: 0.8rem;
  line-height: 1.6rem;
  color: var(--highlight-color);
  &:last-child{
    margin-right: 0;
  }
  .label{
    margin: 0 6px 0 0;
    cursor: default;
  }
  .direction-btn, .close-btn{
    border-left: 1px solid white;
  }
  .close-btn{
    padding-left: 5px;
  }
  .direction-btn{
    max-height: 1.6rem;
    overflow: hidden;
    .content{
      display: flex;
      flex-direction: column;
      height: 3.2rem;
      padding: 0 3px;
      -webkit-transition: margin-top .35s ease-out;-moz-transition: margin-top .35s ease-out;transition: margin-top .35s ease-out;
      .mat-icon{
        padding-top: 5px;
      }
      &.active{
        margin-top: -1.6rem;
      }
    }
  }
  .mat-icon{
    height: 100%;
    width: 16px;
    vertical-align: middle;
    font-size: 1.1rem;
    color: var(--background-color);
    cursor: pointer;
  }
}

.cdk-drag-preview {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  margin: 0 var(--padding-base) calc(var(--padding-base) / 2) 0;
  padding: 0 calc(var(--padding-base) / 2) 0 var(--padding-base);
  background: var(--main-color);
  border-radius: 1.6rem;
  font-size: 0.8rem;
  line-height: 1.6rem;
  color: var(--highlight-color);
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  -webkit-transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);-moz-transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
