<div class="page">

  <div #body [class]="'body offset-' + contentOffset">

    <div class="box-item box-multi-items">

      <div class="content">

        <div class="title">{{ sensor?.name | firstLetterUppercase }}</div>

        <!-- TODO -->
        @for (item of sensor?.data!; track item) {
          <div class="item">
            <!-- TODO > traduction dataType.name -->
            <div class="title">{{ item.dataType.name | firstLetterUppercase }}&nbsp;: {{ item.data + item.dataType.unity }}</div>
            <!-- TODO > couleur selon échelle de valeurs ? -->
            <!-- <div class="pictos"> -->
            <!-- <status-picto [type]="StatuePictoType.alarm" [label]="wording['state']" [level]="item.alarm.level"></status-picto> -->
            <!--  </div> -->
          </div>
        }
      </div>

    </div>

  </div>

</div>
