<div class="page">

  <div #body [class]="'body offset-' + contentOffset">

    <div class="box-item box-multi-items">

      <div class="content">

        <div class="title">{{ wording['camera'] | firstLetterUppercase }} {{ camera?.name }}</div>

        <div class="item camera">
          <ng-container *ngTemplateOutlet="streamImageFailed? streamError : streamBase"></ng-container>
        </div>

      </div>

    </div>

  </div>

</div>

<ng-template #streamBase>
  <img [src]="streamPath" (load)="handleImgLoaded()" (error)="handleImgFailed($event)">
  @if (!streamImageReady) {
    <mat-spinner class="img-spinner"></mat-spinner>
  }
</ng-template>

<ng-template #streamError>
  <div class="stream-error">
    <mat-icon>videocam_off</mat-icon>
    <span>{{ wording['camera_hs'] | firstLetterUppercase }}</span>
  </div>
</ng-template>
