:host {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 1000;
  .container{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: margin-left .35s ease-out;-moz-transition: margin-left .35s ease-out;transition: margin-left .35s ease-out;
    &.offset-1 {
      margin-left: -100%;
      .overlay-backdrop {
        width: 200%;
      }
    }
  }
}
