<div @fadeInOut [class]="'container offset-'+contentOffset">

  <div class="overlay-backdrop" (click)="handleAction({ name:'close-overlay' })"></div>

  <div class="overlay-content">

    <div class="header">{{ wording['site'] | firstLetterUppercase }} {{ data?.siteInfos?.name | firstLetterUppercase }}</div>

    <div class="body">

      <content-box [title]="wording['site_state'] | firstLetterUppercase">
        <div class="flex row">
          <div [class]="'status alarm-level-'+data?.alarm?.level">{{ data?.alarm?.description }}</div>
          <div [class]="'status default-level-'+data?.default?.level">{{ data?.default?.description }}</div>
          <div [class]="'status status-level-'+data?.siteStatus?.id">{{ data?.siteStatus?.name }}</div>
        </div>
      </content-box>

      <content-box [title]="wording['site_images'] | firstLetterUppercase">
        @if (data?.siteInfos?.images?.length) {

<!--          <div class="thumb" *ngFor="let item of data?.site?.images">-->
<!--            ...-->
<!--          </div>-->
        
}
        @if (!data?.siteInfos?.images?.length) {
{{ wording['site_without_images'] | firstLetterUppercase }}
}
      </content-box>

      <content-box class="condensed" [title]="wording['all_site_devices'] | firstLetterUppercase">
        @if (all_devices.length) {
<generic-table [structure]="deviceTableStructure" [items]="all_devices" [paginated]="false"></generic-table>
}
        @if (!all_devices.length) {
{{ wording['no_device_of_type'] | firstLetterUppercase }}
}
      </content-box>

      <content-box class="condensed" [title]="wording['distribution_list'] | firstLetterUppercase">
        <distribution-list [data]="data?.distribution_list" [wording]="wording" (action)="handleAction($event)"></distribution-list>
      </content-box>

    </div>

    <div class="footer">
      [ commandes ]
    </div>

  </div>

  <router-outlet></router-outlet>

</div>
