$green: (
  50 : #EFF3F2,
  100 : #D6E2DF,
  200 : #BBCFCA,
  300 : #9FBCB5,
  400 : #8BADA5,
  500 : #769F95,
  600 : #6E978D,
  700 : #638D82,
  800 : #598378,
  900 : #467267,
  A100 : #CFFFF2,
  A200 : #9CFFE4,
  A400 : #69FFD7,
  A700 : #4FFFD0,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #FFFFFF,
    800 : #FFFFFF,
    900 : #FFFFFF,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
$default: (
  50 : #e3e3e5,
  100 : #b9b8bd,
  200 : #8b8992,
  300 : #5c5966,
  400 : #393645,
  500 : #161224,
  600 : #131020,
  700 : #100d1b,
  800 : #0c0a16,
  900 : #06050d,
  A100 : #5252ff,
  A200 : #1f1fff,
  A400 : #0000eb,
  A700 : #0000d1,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);


$red: (
  50 : #fbe8e6,
  100 : #f5c7c0,
  200 : #eea196,
  300 : #e77b6b,
  400 : #e25f4c,
  500 : #dd432c,
  600 : #d93d27,
  700 : #d43421,
  800 : #cf2c1b,
  900 : #c71e10,
  A100 : #fff5f5,
  A200 : #ffc5c2,
  A400 : #ff958f,
  A700 : #ff7d75,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
$grey: (
  50 : #f3f3f3,
  100 : #e2e2e2,
  200 : #cecece,
  300 : #bababa,
  400 : #acacac,
  500 : #9d9d9d,
  600 : #959595,
  700 : #8b8b8b,
  800 : #818181,
  900 : #6f6f6f,
  A100 : #fdf1f1,
  A200 : #f8c3c3,
  A400 : #ff8a8a,
  A700 : #ff7070,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);



