:root{
  --base-gutter: 10px;
  --padding-base: 20px;
  --mid-grey: #A0A0A0;
  --background-color: #FFFFFF;
  --main-color: rgba(22,19,35, 1);
  --main-color-light: rgba(22,19,35, 0.1);  //--main-color 20%
  --main-color-extra-light: #f1f5f4;  //--main-color 10%
  --main-color-ripple-color: rgba(118, 159, 149, 0.085);
  --mdc-linear-progress-active-indicator-color: var(--main-color);
  --content-color: rgba(0, 0, 0, 0.85);
  --content-color-faded: rgba(0, 0, 0, 0.65);
  --backdrop-color: rgba(0, 0, 0, 0.5);
  --highlight-color: #FFFFFF;
  --box-border-radius: 10px;
  --border-color: rgba(0, 0, 0, 0.1);
  --border: 1px solid var(--border-color);
  --green: #1AD9AB;
  --yellow: #FFC700;
  --orange: #FF8A00;
  --red: #FE1313;
  --blue: #1ab6d9;
  --alarm-level-1: var(--green);
  --alarm-level-2: var(--yellow);
  --alarm-level-3: var(--orange);
  --alarm-level-4: var(--red);
  --default-level-1: var(--green);
  --default-level-2: var(--yellow);
  --default-level-3: var(--orange);
  --default-level-4: var(--red);
  --status-level-1: var(--green);
  --status-level-2: var(--yellow);
  --status-level-3: var(--orange);
  --status-level-4: var(--red);
}

html, body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--background-color);
  font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  color: var(--content-color);
}

.flex {
  display: flex;
  flex-direction: column;
  &.row {
    flex-direction: row;
    .column {
      display: flex;
      flex-direction: column;
      flex: 1;
      &.no-flex {
        flex: unset;
      }
      &:first-child {
        margin-right: calc(var(--base-gutter) * .5);
      }
      &:last-child {
        margin-left: calc(var(--base-gutter) * .5);
      }
      &:not(:first-child):not(:last-child) {
        margin-left: calc(var(--base-gutter) * .5);
        margin-right: calc(var(--base-gutter) * .5);
      }
    }
  }
  &.justify-center{
    justify-content: center;
  }
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &.basic {
    height: calc(100% - 194px);
  }
}

.login-form {
  min-width: 420px;
  .logo{
    background-image: url('/assets/desktop/images/logo_vt_geoalarme.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .head{
    height: 120px;
    margin: 0 0 calc(var(--base-gutter) * 2) 0;
    padding: var(--base-gutter);
  }
  .body {
    text-align: center;
    h4{
      display: block;
      margin: calc(var(--base-gutter) * 2) 0;
      font-size: 13px;
      font-weight: 300;
      color: var(--mid-grey);
      text-transform: uppercase;
    }
    form {
      display: flex;
      flex-direction: column;
      & > * {
        margin: 0 0 var(--base-gutter) 0;
        text-align: center;
      }
    }
  }
  .footer {
    & > * {
      width: 100%;
    }
    &.language-selector {
      margin: calc(var(--base-gutter) * 2) 0 0 0;
      .mat-button-toggle-group{
        justify-content: space-evenly;
      }
      .mat-button-toggle {
        width: 100%;
        &.mat-button-toggle-checked {
          pointer-events: none;
        }
      }
      .mat-button-toggle-appearance-standard .mat-button-toggle-label-content{
        font-size: 13px;
        //line-height: 24px;
        line-height: 36px;
      }
    }
  }
}

.main-header {
  height: 105px!important;
  padding: 0 calc(var(--base-gutter) * 2) !important;
  justify-content: space-between;
  background-color: var(--background-color)!important;
  border-bottom: var(--border);
  .logo {
    width: 175px;
    height: 100%;
    background-image: url('/assets/desktop/images/logo_hz_geoalarme.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}
.main-navbar {
  border-bottom: var(--border);
  .navigation-item{
    text-transform: uppercase;
    &.mdc-tab-indicator--active{
      pointer-events: none;
    }
  }
  .mat-mdc-tab-link .mat-ripple-element {
    background-color: var(--main-color);
  }
  .mat-mdc-tab-link .mdc-tab__ripple::before{
    background-color: var(--main-color);
  }
  .mat-mdc-tab-link:hover .mdc-tab__ripple::before,
  .mat-mdc-tab-link:focus .mdc-tab__ripple::before {
    opacity: 0.25;
  }
  .mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline, .mat-mdc-tab-link:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline {
    border: none;
    background-color: var(--main-color);
    height: 100%;
  }
  .mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
    color: #FFFFFF;
  }
}
.main-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top: var(--border);
  .item {
    font-size: 15px;
    font-weight: 300;
    color: var(--content-color);
    a {
      color: var(--content-color);
      text-decoration: none;
    }
    &:after {
      content: '|';
      margin: 0 14px;
    }
    &:last-child {
      &:after {
        content: none;
      }
    }
  }
}

.header-menu {
  min-width: 155px !important;
  overflow: hidden !important;
  .mat-mdc-menu-content{
    padding: 0 !important;
  }
  .language-selector {
    flex-direction: column !important;
    width: 100%;
    border: none;
    .mat-button-toggle-appearance-standard .mat-button-toggle-label-content{
      font-size: 13px;
      line-height: 36px;
      border-left: none !important;
      .mat-button-toggle-label-content{
        font-size: 13px;
        line-height: 36px;
      }
    }
  }
  .mat-button-toggle-group-appearance-standard .mat-button-toggle+.mat-button-toggle{
    border-left: none !important;
  }
  .logout-button {
    justify-content: center;
    .mat-icon {
      margin-right: 4px;
    }
    .mat-mdc-menu-item-text{
      font-size: 13px!important;
    }
  }
}

.overlay-backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);
  cursor: pointer;
  pointer-events: all;
  -webkit-transition: width .35s ease-out;-moz-transition: width .35s ease-out;transition: width .35s ease-out;
}
.overlay-content {
  position: absolute;
  left: var(--padding-base);
  top: var(--padding-base);
  width: calc(100% - calc(var(--padding-base) * 2));
  height: calc(100% - calc(var(--padding-base) * 2));
  box-sizing: border-box;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  pointer-events: all;
  .header, .body, .footer{
    width: 100%;
    box-sizing: border-box;
    padding: var(--padding-base);
  }
  .header {
    height: 70px;
    border-bottom: var(--border);
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: 400;
    &.with-back-button {
      padding-left: 0;
    }
  }
  .body {
    height: calc(100% - 140px);
    background-color: var(--background-color);
    overflow: hidden;
    overflow-y: auto;
    font-size: 14px;
    font-weight: 300;
    color: var(--content-color);
    &::-webkit-scrollbar {
      width: 4px;
      height: 0;
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: none;
      border: none;
      border-left: 1px solid var(--border-color);
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--main-color);
      border-radius: 0;
      outline: none;
      border: none;
    }
    scrollbar-color: white whitesmoke;  // ffx
    scrollbar-width: thin;  // ffx
    .mat-mdc-form-field-focus-overlay{
      background-color: var(--main-color-light);
    }
    .mat-mdc-form-field{
      .mat-mdc-form-field-focus-overlay {
        -webkit-transition: opacity .2s ease-out;-moz-transition: opacity .2s ease-out;transition: opacity .2s ease-out;
      }
      &:hover .mat-mdc-form-field-focus-overlay {
        opacity: 1;
      }
    }
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
      background-color: var(--background-color);
    }
    .mat-icon{
      color: var(--content-color);
    }
    .default-message{
      line-height: 46px;
      padding: calc(var(--padding-base) * .5) 0 0 0;
      border-bottom: 1px solid var(--border-color);
    }
    .add-btn{
      display: flex;
      align-items: center;
      padding: 8px calc(var(--padding-base) * .5) 8px 0;
      margin: var(--padding-base) 0 calc(var(--padding-base) * .5) 0;
      justify-content: center;
      border: 1px solid #e5e5e5;
      border-radius: 6px;
      cursor: pointer;
      font-weight: 500;
    }
    .form-validation-button {
      width: 80px;
      height: 58px;
      padding: 16px 12px;
      border: var(--border);
      border-radius: 6px;
      .mat-mdc-button-persistent-ripple,
      .mat-mdc-focus-indicator {
        border-radius: 0;
      }
      .mat-icon {
        -webkit-transition: opacity .2s ease-out;-moz-transition: opacity .2s ease-out;transition: opacity .2s ease-out;
      }
      &:disabled .mat-icon {
        opacity: .2;
      }
      &.empty {
        visibility: hidden;
      }
    }
  }
  .footer {
    height: 70px;
    position: absolute;
    bottom: 0;
    border-top: var(--border);
  }
}

.table-container{
  height: calc(100% - 248px);
  &.multiline-cell {
    .mat-mdc-cell {
      white-space: pre-line;
    }
  }
  &.with-bottom-line {
    .mdc-data-table__row:last-child .mdc-data-table__cell {
      border-bottom: 1px solid var(--border-color);
    }
  }
  .mat-mdc-table {
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    height: 100%;
    .mat-mdc-cell, .mat-mdc-header-cell, .mat-mdc-footer-cell, .mat-mdc-row, .mat-mdc-header-row, .mat-mdc-footer-row {
      background-color: var(--background-color);
      border-color: var(--border-color);
    }
    .mat-mdc-cell{
      padding: 4px 16px;
      line-height: 20px;
      -webkit-transition: color .2s ease-out;-moz-transition: color .2s ease-out;transition: color .2s ease-out;
      &.status-picto{
        &:before {
          content: '';
          width: 12px;
          height: 12px;
          margin-right: 6px;
          border-radius: 6px;
        }
        &.site-alarm-1{
          &:before {
            background-color: var(--alarm-level-1);
          }
        }
        &.site-alarm-2{
          &:before {
            background-color: var(--alarm-level-2);
          }
        }
        &.site-alarm-3{
          &:before {
            background-color: var(--alarm-level-3);
          }
        }
        &.site-alarm-4{
          &:before {
            background-color: var(--alarm-level-4);
          }
        }
        &.site-default-1{
          &:before {
            background-color: var(--default-level-1);
          }
        }
        &.site-default-2{
          &:before {
            background-color: var(--default-level-2);
          }
        }
        &.site-default-3{
          &:before {
            background-color: var(--default-level-3);
          }
        }
        &.site-default-4{
          &:before {
            background-color: var(--default-level-4);
          }
        }
        &.site-status-1{
          &:before {
            background-color: var(--status-level-4);
          }
        }
        &.site-status-2{
          &:before {
            background-color: var(--status-level-3);
          }
        }
        &.site-status-3{
          &:before {
            background-color: var(--status-level-2);
          }
        }
        &.site-status-4{
          &:before {
            background-color: var(--status-level-1);
          }
        }
      }
      &:first-child {
        padding-left: 24px;
      }
    }
    .mat-mdc-row {
      cursor: pointer;
      -webkit-transition: background-color .2s ease-out;-moz-transition: background-color .2s ease-out;transition: background-color .2s ease-out;
      &:last-child{
        border-bottom-width: 0;
      }
      &:focus, &:hover {
        background-color: var(--main-color-light);
      }
      &.no-link {
        cursor: default;
        &:focus, &:hover {
          background-color: initial;
        }
      }
      &:hover > .mat-mdc-cell,
      &:focus > .mat-mdc-cell,
      &.active > .mat-mdc-cell{
        background: var(--mdc-theme-primary-faded);
      }
      &.active > .mat-mdc-cell{
        cursor: default;
      }
      .mdc-icon-button{
        color: var(--content-color);
      }
    }
    .mat-mdc-header-row {
      &.closed{
        height: 0;
        min-height: 0;
        .filters{
          padding: 0;
        }
      }
    }
    .mat-mdc-footer-row {
      position: absolute;
      width: 100%;
      bottom: 44px;
      border-bottom: none;
      z-index: 1;
    }
    .mat-mdc-header-cell{
      font-size: var(--mdc-typography-body2-font-size, 14px);
      font-weight: 500;
      color: var(--content-color);
      cursor: default;
      .mat-sort-header-container{
        cursor: default;
      }
      &.sortable{
        .mat-sort-header-container{
          cursor: pointer;
        }
        .mat-sort-header-content{
          &:after{
            content: '';
            width: 18px;
            height: 18px;
            background-size: contain;
            background-image: url(/assets/desktop/images/arrow_upward.svg);
            background-repeat: no-repeat;
            opacity: 0;
            -webkit-transition: opacity .35s ease-out;-moz-transition: opacity .35s ease-out;transition: opacity .35s ease-out;
          }
          &:hover, &:focus{
            &:after{
              opacity: 1;
            }
          }
        }
      }
      &.asc{
        .mat-sort-header-content{
          &:after{
            opacity: 1;
          }
        }
      }
      &.desc{
        .mat-sort-header-content{
          &:after{
            opacity: 1;
            background-image: url(/assets/desktop/images/arrow_downward.svg);
          }
        }
      }
      .mat-sort-header-arrow {
        display: none;
      }
    }
    .mat-mdc-footer-cell{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      padding-right: 0;
      border-bottom: none;
      border-top: var(--border);
      .export-button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 56px;
        height: 56px;
        padding: 0;
        border-left: var(--border);
        border-radius: 0;
      }
    }
    &.expanded{
      height: calc(100% - 100px);
    }
    &::-webkit-scrollbar {
      width: 4px;
      height: 0;
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: none;
      border: none;
      border-left: 1px solid var(--border-color);
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--main-color);
      border-radius: 0;
      outline: none;
      border: none;
    }
    scrollbar-color: white whitesmoke;  // ffx
    scrollbar-width: thin;  // ffx
  }
  .mat-mdc-icon-button.mat-button-disabled.mat-button-disabled{
    pointer-events: none;
    .mat-button-wrapper{
      color: var(--border-color);
      -webkit-transition: color .35s ease-out;-moz-transition: color .35s ease-out;transition: color .35s ease-out;
    }
  }

  &.x-scrollable{
    display: block;
    width: 100%;
    overflow-x: auto;
    &::-webkit-scrollbar {
      width: 4px;
      height: 0;
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: none;
      border: none;
      border-left: 1px solid var(--border-color);
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--main-color);
      border-radius: 0;
      outline: none;
      border: none;
    }
    scrollbar-color: white whitesmoke;  // ffx
    scrollbar-width: thin;  // ffx
    .mat-mdc-table {
      width: 100%;
      max-width: 100%;
      display: table;
      border-collapse: collapse;
      .mat-mdc-row,
      .mat-mdc-header-row {
        display: table-row;
        height: 52px;
        background-color: white;
      }
      .mat-mdc-header-row.sticky {
        position: sticky!important;
        top: 48px
      }
      .mat-mdc-row:hover > .mat-mdc-cell,
      .mat-mdc-row:focus > .mat-mdc-cell,
      .mat-mdc-row.active > .mat-mdc-cell{
        background: #eaecee;
      }
      .mat-mdc-cell,
      .mat-mdc-header-cell {
        word-wrap: initial;
        display: table-cell;
        line-break: unset;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
      }
    }
  }

}

.condensed {
  .filters {
    padding: calc(var(--padding-base) * 0.5) 0 calc(var(--padding-base) * 0.25) 0 !important;
  }
  .mdc-data-table__cell, .mdc-data-table__header-cell{
    padding-left: calc(var(--padding-base) * 0.5)!important;
    padding-right: calc(var(--padding-base) * 0.5)!important;
  }
}

.status{
  margin: 0 calc(var(--padding-base) * .5) 0 0;
  color: var(--content-color);
  &:last-child {
    margin: 0;
  }
  &:before{
    content: '';
    display: inline-block;
    min-width: 12px;
    height: 12px;
    margin-right: 4px;
    border-radius: 10px;
    background-color: red;
  }
  &.alarm-level-1{
    &:before{
      background-color: var(--alarm-level-1);
    }
  }
  &.alarm-level-2{
    &:before{
      background-color: var(--alarm-level-2);
    }
  }
  &.alarm-level-3{
    &:before{
      background-color: var(--alarm-level-3);
    }
  }
  &.alarm-level-4{
    &:before{
      background-color: var(--alarm-level-4);
    }
  }
  &.default-level-1{
    &:before{
      background-color: var(--default-level-1);
    }
  }
  &.default-level-2{
    &:before{
      background-color: var(--default-level-2);
    }
  }
  &.default-level-3{
    &:before{
      background-color: var(--default-level-3);
    }
  }
  &.default-level-4{
    &:before{
      background-color: var(--default-level-4);
    }
  }
}

.distribution-input{
  padding: 0 calc(var(--padding-base) * .5) 0 0;
  border-bottom: var(--border);
  -webkit-transition: background-color .2s ease-out;-moz-transition: background-color .2s ease-out;transition: background-color .2s ease-out;
  &.active {
    background-color: var(--main-color-light);
  }
  .column {
    align-self: center;
    .form-validation-button {
      width: 60px;
      height: 34px;
      padding: 4px;
      background-color: var(--background-color);
      border-radius: 4px;
    }
    .mdc-text-field--disabled.mdc-text-field--filled {
      background-color: var(--background-color);
    }
    .mat-mdc-select-disabled {
      .mat-mdc-select-value {
        color: var(--content-color-faded);
      }
      .mat-mdc-select-arrow-wrapper {
        display: none;
      }
    }
    .mdc-text-field--disabled.mdc-text-field--filled {
      .mat-mdc-floating-label.mdc-floating-label {
        display: none;
      }
    }
    .mat-mdc-form-field {
      .mat-mdc-form-field-subscript-wrapper {
        display: none;
      }
      .mdc-line-ripple{
        display: none;
      }
    }
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
      background-color: transparent;
    }
    .mat-mdc-form-field:hover .mat-mdc-form-field-focus-overlay {
      opacity: 0;
    }
    .mat-mdc-form-field.mat-focused .mat-mdc-form-field-focus-overlay {
      opacity: 0;
    }
    .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix {
      padding-top: 17px;
    }
  }
  .communications-column {
    width: 464px;
    align-items: center;
    justify-content: space-evenly;
  }
}

.progress-bar{
  margin-top: -1px;
}

.mat-mdc-paginator-page-size {
  display: flex!important;
  align-items: center!important;
  margin-right: 8px!important;
}
.mdc-list-item--selected .mdc-list-item__primary-text{
  color: var(--main-color);
}
.mat-mdc-tab-link:not(.mat-mdc-tab-disabled) .mdc-tab__text-label,
.mdc-data-table__cell {
  color: var(--content-color);
}
.mdc-linear-progress {
  height: 2px!important;
}
.mat-mdc-progress-bar .mdc-linear-progress__buffer-bar {
  background-color: var(--main-color-extra-light)!important;
}
.mdc-linear-progress__bar-inner {
  border-color: var(--main-color)!important;
  border-top-width: 2px!important;
}
.cdk-overlay-backdrop {
  pointer-events: all;
}
.cdk-dialog-container {
  &:focus-visible {
    outline: none;
  }
}
