@use '@angular/material' as mat;
@use 'geoalarme-palette' as geoalarme-palette;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@include mat.core();

$geoalarm-primary: mat.define-palette(geoalarme-palette.$default, 500);
$geoalarm-accent: mat.define-palette(geoalarme-palette.$default, 500);
$geoalarm-warn: mat.define-palette(geoalarme-palette.$red, 800);
$geoalarm-neutral: mat.define-palette(geoalarme-palette.$grey, 500);

$geoalarme-light-theme: mat.define-light-theme((
  color: (
    primary: $geoalarm-primary,
    accent: $geoalarm-accent,
    warn: $geoalarm-warn,
    neutral: $geoalarm-neutral,
  ),
));

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@include mat.all-component-themes($geoalarme-light-theme);

@import './main';
