<generic-table [structure]="usersTableStructure"
               [items]="data"
               [multiline]="true"
               (action)="handleAction($event)"></generic-table>

<router-outlet></router-outlet>

