<div class="page">

  <div #body [class]="'body offset-' + contentOffset">
    <ng-container *ngTemplateOutlet="cameras.length? camerasTemplate : noDataTemplate"></ng-container>
  </div>

  <!--  <router-outlet></router-outlet>-->

</div>

<ng-template #camerasTemplate>

  <!-- [ routed version ] -->
  <!--<div class="box-item box-single-item"
       matRipple [matRippleColor]="'var(&#45;&#45;main-color-ripple-color)'"
       *ngFor="let item of cameras"
       [routerLink]="['./'+item.id]">
    <div class="title">{{ wording['camera'] | firstLetterUppercase }} {{  item.name }}</div>
  </div>-->

  @for (camera of cameras; track camera) {
    <div class="box-item box-multi-items">
      <div class="content">
        <div class="title">{{ wording['camera'] | firstLetterUppercase }} {{ camera?.name }}</div>
        <div class="item camera">
          <ng-container *ngTemplateOutlet="camerasDataSet['cam-'+camera.id].streamFailed? streamError : streamBase; context: { streamObj:camerasDataSet['cam-'+camera.id] }"></ng-container>
        </div>
      </div>
    </div>
  }
</ng-template>

<ng-template #streamBase let-streamObj="streamObj">
  <img [src]="streamObj.path"
       (load)="handleImgLoaded(streamObj.camId)"
       (error)="handleImgFailed(streamObj.camId, $event)">
  @if (!streamObj.streamReady) {
    <mat-spinner class="img-spinner"></mat-spinner>
  }
</ng-template>

<ng-template #streamError>
  <div class="stream-error">
    <mat-icon>videocam_off</mat-icon>
    <span>{{ wording['camera_hs'] | firstLetterUppercase }}</span>
  </div>
</ng-template>

<ng-template #noDataTemplate>
  <div class="box-item box-multi-items">
    <div class="content">
      <div class="item">
        <div class="title">{{ wording['no_camera_registered'] | firstLetterUppercase }}</div>
      </div>
    </div>
  </div>
</ng-template>

