:root {
  --max-width: 100vw;
  --max-height: 100%;
  --base-gutter: 10px;
  --base-gutter-small: 6px;
  --extra-light-grey: #F5F5F5;
  --light-grey: #BCC1C0;
  --mid-grey: #A0A0A0;
  --background-color: #FFFFFF;
  --background-blur: blur(10px);
  --main-color: #FFFFFF;
  --main-color-soft: rgba(255, 255, 255, 0.75);
  --main-color-faded: rgba(255, 255, 255, 0.25);
  --main-color-light: #D8D8D8;
  --main-color-extra-light: #FFFFFF;
  --main-color-ripple-color: rgba(34, 30, 52, 0.085);
  --content-color: rgba(22, 19, 35, 1);
  --content-color-faded: rgba(22, 19, 35, .35);
  --highlight-color: #FFFFFF;
  --highlight-ripple-color: #FFFFFF20;
  --border-color: rgba(34, 30, 52, 0.25);
  --border: 1px solid var(--border-color);
  --box-border-radius: 8px;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
  --log-box-height: 38px;
  --green: #1AD9AB;
  --yellow: #FFC700;
  --orange: #FF8A00;
  --red: #FE1313;
  --blue: #1AB6D9;
  --black: #161224;
  --status-level-0: var(--black);
  --status-level-1: var(--green);
  --status-level-2: var(--yellow);
  --status-level-3: var(--orange);
  --status-level-4: var(--red);
}

html, body {
  width: 100%;
  height: 100%;
  margin: auto;
  background: #111111;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

.flex {
  display: flex;
  flex-direction: column;

  &.row {
    flex-direction: row;

    .column {
      display: flex;
      flex-direction: column;
      flex: 1;

      &.no-flex {
        flex: unset;
      }

      &:first-child {
        margin-right: calc(var(--base-gutter) * .5);
      }

      &:last-child {
        margin-left: calc(var(--base-gutter) * .5);
      }

      &:not(:first-child):not(:last-child) {
        margin-left: calc(var(--base-gutter) * .5);
        margin-right: calc(var(--base-gutter) * .5);
      }
    }
  }

  &.justify-center {
    justify-content: center;
  }
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  overflow: hidden;
}

.content-container {
  width: var(--max-width);
  height: var(--max-height);
  padding: 56px 0 0 0;
  background-color: var(--main-color-extra-light);
  overflow: hidden;

  &.offset-1 {
    width: 200vw;
  }

  &.offset-2 {
    width: 300vw;
  }

  &.offset-3 {
    width: 400vw;
  }

  &.offset-4 {
    width: 500vw;
  }
}

.login-form {
  width: 100%;
  margin: auto 0;
  padding: 0 30px;
  box-sizing: border-box;

  .logo {
    background-image: url('/assets/mobile/logo_vt_geoalarme.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .head {
    height: 100px;
    margin: 0 0 calc(var(--base-gutter) * 2) 0;
    padding: var(--base-gutter);
  }

  .body {
    text-align: center;

    h4 {
      display: block;
      margin: calc(var(--base-gutter) * 2) 0 calc(var(--base-gutter) * 4) 0;
      font-size: 13px;
      font-weight: 300;
      color: var(--mid-grey);
      text-transform: uppercase;
    }

    form {
      display: flex;
      flex-direction: column;
      padding: 0;

      & > * {
        margin: 0 0 var(--base-gutter) 0;
        text-align: center;
      }
    }
  }

  .footer {
    & > * {
      width: 100%;
    }

    &.language-selector {
      margin: calc(var(--base-gutter) * 2) 0 0 0;

      .mat-button-toggle-group {
        justify-content: space-evenly;
      }

      .mat-button-toggle {
        width: 100%;

        &.mat-button-toggle-checked {
          pointer-events: none;
        }
      }

      .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
        font-size: 13px;
        line-height: 36px;
      }
    }
  }
}

.progress-bar {
  margin-top: -1px;
}

.mdc-linear-progress {
  height: 1px !important;
}

.mat-mdc-progress-bar {
  z-index: 101;
  background-color: var(--content-color) !important;

  .mdc-linear-progress__buffer-bar {
    background-color: var(--content-color) !important;
  }

  .mdc-linear-progress__bar-inner {
    border-color: var(--main-color-soft);
  }
}

.sidenav-container {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  //background-color: transparent;
  background-color: transparent !important;
  pointer-events: none;
  z-index: 10000 !important;

  &.mat-drawer-container-has-open {
    pointer-events: all;
  }

  .mat-drawer {
    background: var(--main-color);
    z-index: 100;
  }

  .mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .mat-drawer-content {
    display: none;
  }

  .sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--content-color);
    box-shadow: none;

    .sidenav-backdrop {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .sidenav-content {
      z-index: 1001;
      text-align: center;

      .sidenav-content-item {
        padding: 0 20px;
        font-weight: 300;
        line-height: 40px;
        text-decoration: none;
        color: var(--content-color);

        &.empty {
          line-height: 20px;
        }

        &.active {
          pointer-events: none;
          border: var(--border);
        }
      }

      .sidenav-content-button {
        border: var(--border);
        padding: calc(var(--base-gutter) * .5) calc(var(--base-gutter) * 2);
        margin: calc(var(--base-gutter) * 2) var(--base-gutter) 0 0;

        &:last-child {
          margin-right: 0;
        }
      }

      .version {
        position: absolute;
        bottom: 20px;
        font-weight: 100;
      }
    }

    &.blured {
      background: transparent;
    }

    &.menu {
      .sidenav-backdrop {
        background-color: rgba(255, 255, 255, 0.65);
        backdrop-filter: var(--background-blur);
      }
    }

    &.chat {
      .sidenav-content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: var(--base-gutter);
        background-color: var(--main-color-extra-light);
        color: var(--content-color);
        pointer-events: none;
      }
    }

    &.contact {
      .sidenav-backdrop {
        background-color: rgba(255, 255, 255, 0.65);
        backdrop-filter: var(--background-blur);
      }

      .sidenav-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: var(--base-gutter);
        pointer-events: none;

        .title {
          font-size: 20px;
          font-weight: 400;
        }

        h4 {
          margin: 0 0 var(--base-gutter) 0;
          font-size: 14px;
          font-weight: 500;
          color: var(--content-color);
        }

        p {
          margin-bottom: 0px;
          font-size: 15px;
          font-weight: 100;
          color: var(--content-color);

          a {
            color: var(--content-color);
            pointer-events: all;

            &:active {
              color: var(--content-color);
            }
          }
        }

        section {
          width: 100%;
          box-sizing: border-box;
          margin: var(--base-gutter) var(--base-gutter) 0 var(--base-gutter);
          padding: var(--base-gutter);
          border: var(--border);
          border-radius: var(--box-border-radius);
        }
      }
    }

    &.site-commands,
    &.site-settings {
      .sidenav-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: safe center;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: var(--base-gutter);
        background-color: rgba(255, 255, 255, 0.65);
        backdrop-filter: var(--background-blur);
        color: var(--content-color);
        pointer-events: none;
        overflow-y: auto;

        .item {
          //min-width: 85%;
          //max-width: 85%;
          width: 85%;
          margin: 0 0 calc(var(--base-gutter) * 2) 0;
          background-color: var(--background-color);
          border: var(--border);
          border-radius: var(--box-border-radius);
          //overflow: hidden;
          &:first-child {
            margin-top: 40px;
          }

          &:last-child {
            margin: 0 0 40px 0;
          }

          &.no-title .commands {
            border-top: none
          }

          .mat-expansion-panel {
            background: transparent;
            box-shadow: none;
            pointer-events: all;
          }

          .mat-expansion-panel-header {
            height: auto;
            padding: 0;
            background: transparent !important;

            .mat-content.mat-content-hide-toggle {
              margin-right: 0;
            }

            .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
              justify-content: center;
              margin: 0;
              padding: var(--base-gutter);
              font-size: 16px;
              font-weight: 400;
              color: var(--content-color);
            }

            &.mat-expanded {

            }
          }

          .mat-expansion-panel-body {
            padding: 0;
          }

          .title {
            padding: var(--base-gutter);
            color: var(--content-color);
          }

          .commands {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: var(--base-gutter);
            border-top: var(--border);
            color: var(--content-color);

            .command {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              box-sizing: border-box;
              margin: 0 0 var(--base-gutter) 0;
              width: 100%;
              height: 48px;
              border-radius: 4px;
              font-size: 13px;
              font-weight: 300;
              line-height: 48px;
              letter-spacing: 0.25px;
              pointer-events: all;
              -webkit-transition: opacity .35s ease-out;
              -moz-transition: opacity .35s ease-out;
              transition: opacity .35s ease-out;

              .content {
                flex-direction: row;
                width: 100%;
                border-radius: 4px;

                .mat-icon {
                  vertical-align: middle;
                }
              }

              &.parametric {
                flex-direction: column;
                height: auto;
                min-height: 48px;
                border-radius: 4px;
                overflow: hidden;
                border: 1px solid var(--border-color);

                .content {
                  background-color: var(--background-color);
                  border-radius: 0;

                  &.disabled {
                    pointer-events: none;
                  }
                }

                .params {
                  display: flex;
                  justify-content: space-around;
                  width: 100%;
                  border: 1px solid var(--border-color);
                  border-bottom: none;
                  border-radius: unset;

                  .mat-button-toggle,
                  .mat-button-toggle-button,
                  .mat-button-toggle-label-content {
                    line-height: 36px;
                  }

                  .mat-button-toggle {
                    width: 100%;

                    .mat-button-toggle-label-content {
                      padding: 0 8px;
                    }

                    &.mat-button-toggle-checked {
                      background-color: inherit;

                      &.forced {
                        &.level-alm-1 {
                          background-color: var(--green);
                        }

                        &.level-alm-2 {
                          background-color: var(--yellow);
                        }

                        &.level-alm-3 {
                          background-color: var(--orange);
                        }

                        &.level-alm-4 {
                          background-color: var(--red);
                        }

                        &.level-sign-off {
                          background-color: var(--black);
                          color: var(--background-color);
                        }

                        &.level-sign-1 {
                          background-color: var(--green);
                        }

                        &.level-sign-2 {
                          background-color: var(--yellow);
                        }

                        &.level-sign-3 {
                          background-color: var(--orange);
                        }

                        &.level-sign-4 {
                          background-color: var(--red);
                        }

                        &.level-sign-pause {
                          background-color: var(--orange);
                        }
                      }
                    }

                    &.level-alm-auto,
                    &.level-sign-auto {
                      background-color: var(--green);

                      &.forced {
                        //background-color: var(--red);
                        background-color: inherit;
                      }
                    }
                  }
                }

                &.alarme-off .content {
                  background-color: var(--background-color);
                }
              }

              &:last-child {
                margin: 0;
              }

              &.orange-off, &.orange-on {
                .toggle-btn .mdc-switch__track::before {
                  background: var(--orange) !important;
                }
              }

              &.blue .content {
                background-color: var(--blue);
              }

              &.green .content {
                background-color: var(--green);
              }

              &.orange .content {
                background-color: var(--orange);
              }

              &.red .content {
                background-color: var(--red);
              }

              &.neutral .content {
                background-color: var(--light-grey);
              }

              &.orange-off .content {
                background-color: var(--background-color);
              }

              &.orange-on .content {
                background-color: var(--orange);
              }

              &.sign_off .content {
                background-color: var(--content-color);
                color: var(--background-color);
                font-weight: 300;
              }

              &.sign_alm1 .content {
                background-color: var(--green);
              }

              &.sign_alm2 .content {
                background-color: var(--yellow);
              }

              &.sign_alm3 .content {
                background-color: var(--orange);
              }

              &.sign_alm4 .content {
                background-color: var(--red);
              }

              &.sign_pause .content {
                background-color: var(--orange);
              }

              &.alarme-off .content {
                background-color: var(--light-grey);
              }

              &.alarme-1 .content,
              &.alarme-11 .content {
                background-color: var(--light-grey);
              }

              &.alarme-2 .content,
              &.alarme-12 .content {
                background-color: var(--yellow);
              }

              &.alarme-3 .content,
              &.alarme-13 .content {
                background-color: var(--orange);
              }

              &.alarme-4 .content,
              &.alarme-14 .content {
                background-color: var(--red);
              }

              &.disabled {
                .content,
                .mat-mdc-slide-toggle,
                .params {
                  opacity: .5;
                  pointer-events: none;
                }
              }

              .mat-mdc-slide-toggle {
                margin-bottom: 0;
              }

              .mat-icon {
                margin-right: 2px;

                &.command-spinner {
                  width: 20px;
                  height: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.page-header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: var(--max-width);
  max-width: 100vw;
  padding: 0 6px;
  z-index: 100;
  background-color: var(--main-color);
  border-top: var(--border);
  border-bottom: var(--border);
  box-shadow: var(--box-shadow);
  font-size: 20px;
  font-weight: 400;
  line-height: 55px;
  text-align: center;
  color: var(--content-color);

  .label {
    text-overflow: ellipsis;
    width: calc(100% - 92px);
    white-space: nowrap;
    overflow: hidden;
  }

  .back-btn {
    position: absolute;
    left: 6px;
    color: var(--content-color);
  }

  .header-btns {
    position: absolute;
    right: 16px;
    height: 48px;
    color: var(--content-color);
  }
}

.page {
  float: left;
  width: var(--max-width);
  max-width: 100%;
  height: calc(var(--max-height) - 112px - var(--log-box-height));
  box-sizing: border-box;
  margin-left: 0;
  background-color: var(--main-color-extra-light);
  overflow: hidden;
  -webkit-transition: width .35s ease-out, margin-left .35s ease-out;
  -moz-transition: width .35s ease-out, margin-left .35s ease-out;
  transition: width .35s ease-out, margin-left .35s ease-out;

  &.no-logs {
    height: calc(var(--max-height) - 112px);

    .page {
      height: 100%;
    }
  }

  &.offset-0 {
    margin-left: 0;
  }

  &.offset-1 {
    margin-left: calc(var(--max-width) * -1);
  }

  &.offset-2 {
    margin-left: calc(var(--max-width) * -2);
  }

  &.offset-3 {
    margin-left: calc(var(--max-width) * -3);
  }

  &.offset-4 {
    margin-left: calc(var(--max-width) * -4)
  }

  .page {
    height: var(--max-height);
  }

  .body {
    position: relative;
    float: left;
    width: 100%;
    max-width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: var(--base-gutter);
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transition: margin-left .35s ease-out;
    -moz-transition: margin-left .35s ease-out;
    transition: margin-left .35s ease-out;

    &.offset-width-0 {
      width: calc(var(--max-width));
    }

    &.offset-width-1 {
      width: calc(var(--max-width) * 2);
    }

    &.offset-width-2 {
      width: calc(var(--max-width) * 3);
    }

    &.offset-width-3 {
      width: calc(var(--max-width) * 4);
    }

    &.offset-0 {
      margin-left: 0;
    }

    &.offset-1 {
      margin-left: calc(var(--max-width) * -1);
    }

    &.offset-2 {
      margin-left: calc(var(--max-width) * -2);
    }

    &.offset-3 {
      margin-left: calc(var(--max-width) * -3);
    }

    &.offset-4 {
      margin-left: calc(var(--max-width) * -4);
    }

    &::-webkit-scrollbar {
      width: 4px;
      height: 0;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: none;
      border: none;
      //border-left: 1px solid var(--content-color-faded);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--content-color-faded);
      border-radius: 0;
      outline: none;
      border: none;
    }

    scrollbar-color: white whitesmoke; // ffx
    scrollbar-width: thin; // ffx
  }
}

.box-item {
  background-color: white;
}

.box-item:last-child {
  margin-bottom: 0;
}

.box-single-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  padding: var(--base-gutter-small);
  box-sizing: border-box;
  margin-bottom: var(--base-gutter);
  background-color: var(--extra-light-grey);
  border: var(--border);
  border-radius: var(--box-border-radius);
  font-size: 14px;
  font-weight: 500;
  color: var(--content-color);
  overflow: hidden;

  &:last-child {
    margin-bottom: 0;
  }

  &.disabled {
    opacity: .5;
  }
  &.unactive {
    background-color: var(--red);
  }

  &.action-button {
    margin: var(--base-gutter-small) 0 0 0;
    padding: 0;
    //background-color: var(--light-grey);
    border-radius: 4px;

    .title {
      border-bottom: none !important;
    }
  }

  .title {
    display: inline-flex;
    //margin: auto;
    margin: auto var(--base-gutter);
    background-color: transparent !important;
  }

  .pictos {
    display: inline-flex;
  }
}

.box-multi-items {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: var(--base-gutter);
  border: var(--border);
  border-radius: var(--box-border-radius);
  font-size: 14px;
  font-weight: 500;
  color: var(--content-color);
  overflow: hidden;

  &:last-child {
    margin-bottom: 0;
  }

  &.disabled {
    opacity: .5;
  }

  .title-extended {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    //padding: var(--base-gutter-small);
    padding: var(--base-gutter-small) var(--base-gutter-small) var(--base-gutter-small) 0;
    background-color: var(--extra-light-grey);
    border-bottom: var(--border);

    .title {
      width: 100%;
      border: none;
      line-height: unset;
    }

    .pictos {
      display: inline-flex;
    }
  }

  .title {
    display: flex;
    //justify-content: center;
    justify-content: left;
    //margin: auto var(--base-gutter);
    padding: 0 calc(var(--base-gutter) + var(--base-gutter-small));
    background-color: var(--extra-light-grey);
    border-bottom: var(--border);
    font-size: 14px;
    font-weight: 500;
    line-height: 48px;
  }

  .items {
    border: var(--border);
    border-radius: 6px;
    margin: 6px;

    .title {
      background-color: transparent;
      color: var(--content-color);
    }

    .item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 36px;
      padding: 6px;
      background-color: transparent;

      .title {
        margin: auto;
        border: none;
        background-color: transparent;
        font-weight: 300;
        line-height: unset;
        color: var(--content-color);
      }

      .pictos {
        display: inline-flex;
      }
    }
  }

  .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    background-color: transparent;
    border-bottom: var(--border);

    &:last-child {
      border-bottom: none;
    }

    .title {
      //margin: auto;
      border: none;
      background-color: transparent;
      font-weight: 300;
      line-height: unset;
      color: var(--content-color);
    }

    .pictos {
      display: inline-flex;
    }

    &.camera {
      height: auto;
      padding: calc(var(--base-gutter) / 2);

      .img-spinner {
        position: absolute;
        left: calc((100% - (var(--base-gutter) * 2) - 12.5px) / 2);
        width: 25px !important;
        height: 25px !important;

        svg {
          circle {
            stroke: var(--background-color) !important;
          }
        }
      }

      img {
        position: relative;
        width: 100%;
        min-height: calc((100vw - var(--base-gutter) * 3) * .749271137026239);
        background-color: var(--extra-light-grey);
        border-radius: 0 0 4px 4px;
      }

      .stream-error {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: calc((100vw - var(--base-gutter) * 3) * .749271137026239);
        background-color: var(--extra-light-grey);
        border-radius: 0 0 4px 4px;
        color: var(--content-color-faded);

        span {
          font-size: 12px;
          font-weight: 400;
          padding: 0 var(--base-gutter);
        }
      }
    }
  }
}

.box-status {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: var(--base-gutter);
  border: var(--border);
  border-radius: var(--box-border-radius);
  box-shadow: var(--box-shadow);
  font-size: 14px;
  font-weight: 500;
  color: var(--content-color);
  overflow: hidden;

  .content {
    border: none;

    .title {
      display: flex;
      justify-content: center;
      flex-direction: column;
      min-height: 48px;
      align-items: center;
      background-color: var(--extra-light-grey);
      border-bottom: var(--border);
      font-size: 14px;
      font-weight: 500;
      padding: 0 var(--base-gutter);
      margin: auto;

      .subtitle {
        font-size: 12px;
        line-height: 16px;
        font-weight: 300;
        font-style: italic;
        color: var(--content-color);
      }

      /*.refresh-btn {
        &:focus, &:focus-within {
          background-color: transparent;
        }
        .mat-mdc-button-persistent-ripple::before {
          opacity: 0!important;
        }
        &[disabled] {
          --mdc-icon-button-icon-color: initial!important;
          --mdc-icon-button-disabled-icon-color: initial!important;
        }
        &.in-progress {
          pointer-events: none;
          -webkit-animation: rotate360 1.2s linear infinite;
          -moz-animation: rotate360 1.2s linear infinite;
          animation: rotate360 1.2s linear infinite;
        }
      }*/
      &.active {
        .status {
          //color: var(--green);
        }
      }

      &.unactive {
        .subtitle,
        .status {
          color: var(--background-color);
        }
        &.status-1 {
          background-color: inherit;
        }
        &.status-0 {
          background-color: var(--orange);
        }
        &.status-2 {
          background-color: var(--red);
        }
        &.status-3 {
          background-color: var(--red);
        }
      }

      .site-status-btn {
        position: absolute;
        right: var(--base-gutter);
        opacity: 1;
        -webkit-transition: opacity .35s ease-out;
        -moz-transition: opacity .35s ease-out;
        transition: opacity .35s ease-out;

        &.faded {
          opacity: .35;
        }
      }
    }

    .items {
      padding: var(--base-gutter-small);
    }

    .pictos {
      display: inline-flex;

      &.enlarged {
        width: 100%;
        display: flex;
        flex-direction: column;

        .status-picto {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: auto;
          height: auto;
          margin-bottom: var(--base-gutter-small);
          padding: var(--base-gutter-small);
          border: var(--border);

          &:last-child {
            margin-bottom: 0;
          }

          .label {
            position: relative;
            left: unset;
            bottom: unset;
            transform: unset;
            transform-origin: unset;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 14px;

            .mat-icon {
              background: var(--border-color);
              color: var(--background-color);
              border-radius: 50%;
            }
          }

          .level {
            width: 60%;
            padding: 0;
            font-size: 20px;
            font-weight: 400;
            text-align: center;
            line-height: 32px;
            letter-spacing: 0;
            border: 1px solid white;
            border-radius: 4px;
            &.level-0:before {
              content: 'OFF';
              margin: 0 auto;
              width: 100%;
              height: 32px;
              background-image: none;
              font-size: inherit;
              font-weight: 300;
              letter-spacing: inherit;
            }
            &.level-1:before {
              content: 'OK';
              margin: 0 auto;
              width: 100%;
              height: 32px;
              background-image: none;
            }
          }
          .aquitable-level {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            border: 1px solid white;
            border-radius: 4px;

            .level {
              border: none;
              border-radius: unset;
            }

            .reset-btn {
              display: flex;
              width: 50%;
              justify-content: center;
              border-left: 1px solid white;
              border-radius: 0;
              height: 32px;
              padding: 4px;
            }
          }
        }
      }
    }
  }
}

.box-commands {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: var(--base-gutter);
  border: var(--border);
  border-radius: var(--box-border-radius);
  font-size: 14px;
  font-weight: 500;
  color: var(--content-color);
  overflow: hidden;

  .content {
    border: none;

    .title {
      display: flex;
      justify-content: center;
      //border-bottom: var(--border);
      font-size: 14px;
      font-weight: 500;
      line-height: 48px;
      margin: auto;
      background-color: var(--main-color);
      color: var(--content-color);
    }

    /*.commands{
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 48px;
      padding: 6px;
      background-color: var(--background-color);
      color: var(--content-color);
      .command{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-right: 4px;
        height: 48px;
        border-radius: 4px;
        font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
        font-size: 13px;
        font-weight: 300;
        line-height: 48px;
        letter-spacing: .25px;
        &:last-child {
          margin-right: 0;
        }
        &.green {
          background-color: var(--green);
        }
        &.orange {
          background-color: var(--orange);
        }
        &.red {
          background-color: var(--red);
        }
        .mat-icon {
          margin-right: 2px;
        }
        .switch-container {
          background-color: var(--light-grey);
          .switch-label {
            position: absolute;
            width: 100%;
            text-align: center;
          }
          &.active .switch-bullet{
            background-color: var(--orange);
          }
        }
      }
    }*/
  }
}

.refresh-btn {
  &:focus, &:focus-within {
    background-color: transparent;
  }

  .mat-mdc-button-persistent-ripple::before {
    opacity: 0 !important;
  }

  &[disabled] {
    --mdc-icon-button-icon-color: initial !important;
    --mdc-icon-button-disabled-icon-color: initial !important;
  }

  &.in-progress {
    pointer-events: none;
    -webkit-animation: rotate360 1.2s linear infinite;
    -moz-animation: rotate360 1.2s linear infinite;
    animation: rotate360 1.2s linear infinite;
  }
}

.toggle-btn {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: var(--base-gutter-small);
  border: var(--border);
  border-radius: 4px;

  .mdc-form-field {
    width: 100%;
    height: 100%;
    padding: var(--base-gutter-small);
    box-sizing: border-box;
  }

  .mdc-switch {
    width: 100% !important;
    border-radius: 3px;
    overflow: hidden;
  }

  .mdc-switch__track {
    width: 100%;
    height: 34px !important;
    border-radius: unset !important;

    &::before {
      background: var(--red) !important;
    }

    &::after {
      background: var(--green) !important;
    }
  }

  .mdc-switch__handle-track {
    width: 100% !important;
  }

  .mdc-switch__handle {
    width: calc(50% - 8px) !important;
    height: calc(100% - 8px) !important;
    margin: 0 4px;
    border-radius: 3px !important;
    overflow: hidden;

    &::before, &::after {
      border: none;
      border-radius: unset;
      box-sizing: border-box;
      content: "";
      width: 100%;
      height: 100%;
      background: var(--background-color) !important;
      border-left-color: transparent;
      border-right: var(--border);
      border-right-color: var(--border-color);
      -webkit-transition: border-right-color, border-left-color 75ms ease-out;
      -moz-transition: border-right-color, border-left-color 75ms ease-out;
      transition: border-right-color, border-left-color 75ms ease-out;
    }

    .mdc-switch__shadow,
    .mdc-switch__icons {
      display: none;
    }
  }

  .mdc-form-field--align-end > label {
    position: absolute;
    width: calc(50% - var(--base-gutter-small));
    left: var(--base-gutter-small);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    -webkit-transition: left 75ms ease-out;
    -moz-transition: left 75ms ease-out;
    transition: left 75ms ease-out;
  }

  .mat-mdc-progress-spinner {
    .mdc-circular-progress__indeterminate-circle-graphic circle {
      stroke: var(--content-color) !important;
    }
  }

  .mdc-switch--selected {
    .mdc-switch__handle-track {
      width: 100% !important;
      transform: translateX(50%);

      .mdc-switch__handle {
        &::before, &::after {
          border-left-color: var(--border-color);
          border-right-color: transparent;
        }
      }
    }
  }

  &.locked {
    pointer-events: none !important;
    //.mdc-switch {
    //  pointer-events: none;
    //}
  }

  &.mat-mdc-slide-toggle-checked {
    label {
      left: 50%;
    }
  }
}

.page-box {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: var(--base-gutter);
  border: var(--border);
  border-radius: var(--box-border-radius);
  font-size: 14px;
  font-weight: 500;
  color: var(--content-color);
  overflow: hidden;

  &:last-child {
    margin-bottom: 0;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--base-gutter-small);

    .title {
      display: inline-flex;
      margin: auto;
    }

    .pictos {
      display: inline-flex;
    }
  }

  .commands {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 48px;
    background-color: var(--main-color);
    color: var(--content-color);

    .command {
      padding: 0 !important;
      border-right: 1px solid var(--background-color);
      border-radius: 0;
      font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
      font-size: 13px;
      font-weight: 300;
      line-height: 48px;
      letter-spacing: .25px;
      text-align: center;

      &:last-child {
        border-right: none;
      }
    }
  }
}

.status-picto {
  position: relative;
  width: 36px;
  height: 36px;
  overflow: hidden;
  border-radius: 4px;
  .label {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 8px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }
  .level {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 28px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: -2px;
    text-align: center;
    -webkit-transition: background-color .3s ease-out;
    -moz-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out;

    &.level-1,
    &.level-2,
    &.level-3,
    &.level-4 {
      //padding: 0 0 0 10px;
    }

    &.level-0:before {
      content: 'OFF';
      display: block;
      width: 100%;
      height: 26px;
      box-sizing: border-box;
      text-align: center;
      font-size: 14px;
      letter-spacing: .5px;
    }

    &.level-1:before {
      content: '';
      display: block;
      width: 16px;
      height: 26px;
      margin: 1px auto;
      box-sizing: border-box;
      background-image: url('/assets/mobile/picto-check.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    &.level-2:before {
      content: '!';
    }

    &.level-3:before {
      content: '!!';
    }

    &.level-4:before {
      content: '!!!';
    }
  }
  &.sign {
    padding: 0;
    box-sizing: border-box;
    background-color: var(--main-color-light);
    -webkit-transition: background-color .3s ease-out;
    -moz-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out;

    &:before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      margin: 8px auto;
      box-sizing: border-box;
      border: 2px solid white;
      border-radius: 10px;
      background-color: var(--status-level-1);
    }

    &.level-0:before {
      background-color: var(--status-level-0);
    }

    &.level-1:before {
      background-color: var(--status-level-1);
    }

    &.level-2:before {
      background-color: var(--status-level-2);
    }

    &.level-3:before,
    &.level-5:before {
      background-color: var(--status-level-3);
    }

    &.level-4:before {
      background-color: var(--status-level-4);
    }
    &.unactive:before {
      background-color: var(--main-color-light);
    }

    .level {
      position: absolute;
      color: white;
      width: auto;
      height: auto;
      top: 3px;
      right: 5px;
    }

    &.forced:before {
      margin-left: 5px;
    }
  }
}

.status-level-0 {
  background-color: var(--status-level-0);
  color: var(--main-color);
  &.unactive {
    background-color: var(--main-color-light);
  }
}

.status-level-1,
.status-level-11 {
  background-color: var(--status-level-1);
  color: var(--main-color);
  &.unactive {
    background-color: var(--main-color-light);
  }
}

.status-level-2,
.status-level-12 {
  background-color: var(--status-level-2);
  color: var(--main-color);
  &.unactive {
    background-color: var(--main-color-light);
  }
}

.status-level-3,
.status-level-13 {
  background-color: var(--status-level-3);
  color: var(--main-color);
  &.unactive {
    background-color: var(--main-color-light);
  }
}

.status-level-4,
.status-level-14 {
  background-color: var(--status-level-4);
  color: var(--main-color);
  &.unactive {
    background-color: var(--main-color-light);
  }
}

.status-level-alarm-0 {
  background-color: var(--status-level-0);
  color: var(--main-color);
  &.unactive {
    background-color: var(--main-color-light);
  }
}

.status-level-alarm-1,
.status-level-alarm-11 {
  background-color: var(--status-level-1);
  color: var(--main-color);
  &.unactive {
    background-color: var(--main-color-light);
  }
}

.status-level-alarm-2,
.status-level-alarm-12 {
  background-color: var(--status-level-2);
  color: var(--main-color);
  &.unactive {
    background-color: var(--main-color-light);
  }
}

.status-level-alarm-3,
.status-level-alarm-13 {
  background-color: var(--status-level-3);
  color: var(--main-color);
  &.unactive {
    background-color: var(--main-color-light);
  }
}

.status-level-alarm-4,
.status-level-alarm-14 {
  background-color: var(--status-level-4);
  color: var(--main-color);
  &.unactive {
    background-color: var(--main-color-light);
  }
}

.status-level-sgnlon {
  background-color: var(--green);
  color: var(--main-color);

  &:before {
    content: 'OK';
    margin: 0 auto;
    width: 100%;
    height: 32px;
    background-image: none;
  }
}

.status-level-sgnloff,
.status-level-sgnlforceoff {
  background-color: var(--content-color);
  color: var(--main-color);
  &:before {
    content: 'OFF';
    margin: 0 auto;
    width: 100%;
    height: 32px;
    background-image: none;
    font-weight: 300;
  }
}

.status-level-sgnlalm1,
.status-level-sgnlforcealm1 {
  background-color: var(--green);
  color: var(--main-color);
  &:before {
    content: '1';
    margin: 0 auto;
    width: 100%;
    height: 32px;
    background-image: none;
  }
}

.status-level-sgnlalm2,
.status-level-sgnlforcealm2 {
  background-color: var(--yellow);
  color: var(--main-color);

  &:before {
    content: '2';
    margin: 0 auto;
    width: 100%;
    height: 32px;
    background-image: none;
  }
}

.status-level-sgnlalm3,
.status-level-sgnlforcealm3 {
  background-color: var(--orange);
  color: var(--main-color);

  &:before {
    content: '3';
    margin: 0 auto;
    width: 100%;
    height: 32px;
    background-image: none;
  }
}

.status-level-sgnlalm4,
.status-level-sgnlforcealm4 {
  background-color: var(--red);
  color: var(--main-color);

  &:before {
    content: '4';
    margin: 0 auto;
    width: 100%;
    height: 32px;
    background-image: none;
  }
}

.status-level-sgnlpause,
.status-level-sgnlforcepause {
  background-color: var(--orange);
  color: var(--main-color);

  &:before {
    content: 'PAUSE';
    margin: 0 auto;
    width: 100%;
    height: 32px;
    background-image: none;
  }
}

.switch-container {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  vertical-align: text-top;
  background-color: var(--main-color-extra-light);
  -webkit-transition: background-color .3s ease-out;
  -moz-transition: background-color .3s ease-out;
  transition: background-color .3s ease-out;

  &.active .switch-bullet {
    margin-left: 50%;
    background-color: red;
  }

  .switch-bullet {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: var(--green);
    -webkit-transition: background-color .3s ease-out;
    -moz-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out;
  }
}

.alert-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: -40px;
  background: var(--background-color);
  -webkit-transition: margin-bottom .35s ease-out;
  -moz-transition: margin-bottom .35s ease-out;
  transition: margin-bottom .35s ease-out;

  .content {
    padding: var(--base-gutter);
    text-align: center;
    font-size: 14px;
    color: var(--content-color);
  }

  .progress-bar {
    width: 100%;
    border-top: 2px solid red;

    &.animated {
      -webkit-transition: width 3s linear;
      -moz-transition: width 3s linear;
      transition: width 3s linear;
    }

    &.progress {
      width: 0;
    }
  }

  &.opened {
    margin-bottom: 0;
  }

  &.info > .progress-bar {
    border-color: var(--blue);
  }

  &.success > .progress-bar {
    border-color: var(--green);
  }

  &.error > .progress-bar {
    border-color: var(--red);
  }
}

.contact-form {
  display: flex;
  flex-direction: column;

  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent;
  }

  .mat-mdc-form-field-focus-overlay {
    background-color: transparent;
  }

  .mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input {
    color: var(--content-color);
    font-size: 13px;
  }

  .mat-mdc-outlined-button {
    color: var(--content-color);
    border-color: var(--content-color) !important;
    -webkit-transition: opacity .35s ease-out;
    -moz-transition: opacity .35s ease-out;
    transition: opacity .35s ease-out;
  }

  .mat-mdc-outlined-button:disabled {
    color: var(--content-color);
    border-color: var(--content-color);
    opacity: .35;
  }
}

.logs {
  .toggle-button {
    .mat-ripple, .mat-mdc-button-persistent-ripple {
      display: none;
    }
  }
}

.loading-spinner {
  .mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
    stroke: red !important;
  }

  svg {
    circle {
      stroke: var(--content-color) !important;
    }
  }
}

.command-spinner {
  display: inline-flex !important;
  vertical-align: middle;
  width: 20px !important;
  height: 20px !important;
  margin-right: 6px;

  svg {
    circle {
      stroke: var(--content-color) !important;
    }
  }
}

.mat-ripple:not(:empty) {
  transform: none;
}

.mat-mdc-dialog-container .mdc-dialog__content {
  padding: calc(var(--base-gutter) * 2) !important;
  border-bottom: var(--border);
  font-size: 15px !important;
  line-height: 21px !important;
  text-align: center !important;
  color: var(--content-color) !important;
}

.mat-mdc-dialog-actions {
  justify-content: space-between !important;
  padding: var(--base-gutter) !important;

  .mat-mdc-button:not(:disabled) {
    width: calc(50% - (var(--base-gutter) * .5));
    border: var(--border);
    color: var(--content-color);
  }
}

.dialog-backdrop {
  background-color: rgba(255, 255, 255, 0.65);
  backdrop-filter: var(--background-blur);
}

.cdk-overlay-container {
  z-index: 10000;
}

@-moz-keyframes rotate360 {
  100% {
    -moz-transform: rotate(-360deg);
  }
}

@-webkit-keyframes rotate360 {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotate360 {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(-360deg);
  }
}
