<content-box class="form-condensed" [title]="wording['user_right'] | firstLetterUppercase">

  @if (formGroup) {

    <form class="reporting-form"
          [formGroup]="formGroup"
          (ngSubmit)="handleSubmit()">

      <div class="flex">

        <div class="flex row">

          <div class="column">
            <mat-form-field appearance="fill">
              <mat-label>{{ wording['site'] | firstLetterUppercase }}</mat-label>
              <!--<input matInput
                     formControlName="site_id"
                     [class.invalid]="formGroup.controls['site_id'].invalid
                           && formGroup.controls['site_id'].dirty
                           && !formGroup.controls['site_id'].pristine">
              <mat-icon matSuffix>badge</mat-icon>-->
              <mat-select
                formControlName="site_id"
                [class.invalid]="formGroup.controls['site_id'].invalid
                         && formGroup.controls['site_id'].dirty
                         && !formGroup.controls['site_id'].pristine">
                @for (site of sites; track site) {
                  <mat-option [value]="site.id">{{ site.name | firstLetterUppercase }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>

          <div class="column">
            <mat-form-field appearance="fill">
              <mat-label>{{ wording['user_role'] | firstLetterUppercase }}</mat-label>
              <mat-select
                formControlName="role_id"
                [class.invalid]="formGroup.controls['role_id'].invalid
                         && formGroup.controls['role_id'].dirty
                         && !formGroup.controls['role_id'].pristine">
                @for (role of roles; track role) {
                  <mat-option [value]="role.id">{{ role.name | firstLetterUppercase }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>

          <div class="column no-flex">
            <button mat-icon-button color="primary" class="form-validation-button" [disabled]="!formGroup.valid">
              <mat-icon>done</mat-icon>
            </button>
          </div>

        </div>

      </div>

    </form>
  }

</content-box>
